.cart {

    &-set {
        position: relative;
        overflow: hidden;
        min-height: 331px;
        @include bRadius(10px);

        .image {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        &_box {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding-bottom: 0.75rem;
        }

        &_gr {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
            font-weight: 500;
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: end;
            margin-bottom: 1.125rem;

            .name {
                color: #fff;
                text-decoration: none;
                display: inline-block;
                flex: 1;
                padding-right: 10px;
            }

            .heft {
                color: rgba(255, 255, 255, 0.5);
            }

        }

        &_fl {
            display: flex;
            padding-left: 0.9375rem;
            padding-right: 0.625rem;
            align-items: center;
            justify-content: space-between;

            .price {
                color: #C5904F;
                font-weight: 500;
                font-size: 1.25rem;
                flex: 1;
                padding-right: 0.625rem;
            }

            

        }

    }

    &-format {
        position: relative;
        overflow: hidden;
        @include bRadius(10px);
        min-height: 419px;

        .image {
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        &_label {
            position: absolute;
            top: 1.125rem;
            left: 1.125rem;
            font-weight: 500;
            font-size: 0.875rem;
            color: #1B1A1B;
            background-color: #fff;
            @include bRadius(8px);
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 12px;
            padding-right: 12px;
        }

        &_box {
            position: absolute;
            left: 0;
            bottom: 0;
            padding-bottom: 1.125rem;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 1.0625rem;
            padding-right: 1.5rem;

            .box {
                flex: 1;
                padding-right: 1.5rem;
            }

            .name {
                color: #fff;
                font-weight: 500;
                font-size: 1.325rem;
            }

            .arr {
                width: 34px;
                height: 34px;
                @include bRadius(6px);
                background-color: #fff;
                display: grid;
                place-items: center;
                align-self: flex-end;

                svg {
                    fill: #C5904F;
                }

            }

            .txt {
                margin-top: 0.625rem;
                color: #fff;
                line-height: 1.2;
                font-weight: normal;
                font-size: 0.875rem;
            }

        }

    }

    &-smart {
        position: relative;
        overflow: hidden;
        @include bRadius(10px);

        .image {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        &_box {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-left: 1.875rem;
            padding-right: 1.5rem;
            padding-top: 1.325rem;
            padding-bottom: 1.5rem;

            .name {
                color: #C5904F;
                font-weight: 500;
                font-size: 1.625rem;
            }

            .txt {
                color: #fff;
                font-weight: normal;
                font-size: 0.875rem;
                flex: 1;
                padding-right: 5.125rem;

                p {
                    margin: 0 0 1rem;

                    &:last-child {
                        margin-bottom: 0;
                    }

                }

            }

            .link {
                text-decoration: none;
                display: inline-block;
                color: #fff;
                font-weight: 500;
                font-size: 1rem;

                i {
                    font-style: normal;
                    display: inline-block;
                    padding-left: 7px;
                }

                svg {
                    fill: #C5904F;
                }

            }

            .gr {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: flex-end;
            }

        }

    }

    &-sertificate {
        position: relative;
        height: 100%;

        .img {
            position: relative;
            overflow: hidden;
            @include bRadius(10px);
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

    }

    &-command {

        .img {
            position: relative;
            overflow: hidden;
            @include bRadius(10px);
            min-height: 331px;
            margin-bottom: 0.75rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

        .name {
            text-align: center;
            color: #1B1A1B;
            font-weight: 600;
            font-size: 1.125rem;
            line-height: 1.2;
            margin-bottom: 6px;
        }

        .post {
            text-align: center;
            line-height: 1.2;
            color: #1B1A1B;
            font-weight: normal;
            font-size: 0.875rem;
        }

    }

    &-blog {
        position: relative;

        a {
            text-decoration: none;
            position: absolute;
            inset: 0;
            z-index: 1;
        }

        &_img {
            position: relative;

            .shield {
                position: absolute;
                display: grid;
                place-items: center;
                background-color: #fff;
                @include bRadius(8px);
                z-index: 1;
                padding-top: 8px;
                padding-bottom: 8px;
                padding-left: 12px;
                padding-right: 12px;
                min-width: 105px;
                left: 1.125rem;
                top: 1.125rem;
                line-height: 1.05;
                color: #1B1A1B;
                font-weight: 500;
                font-size: 0.875rem;
            }

            .img {
                position: relative;
                overflow: hidden;
                @include bRadius(10px);

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

        }

        &_box {
            padding-top: 1.5rem;

            .name {
                line-height: 1.2;
                color: #1B1A1B;
                font-weight: 500;
                font-size: 1.325rem;
                margin-bottom: 5px;
            }

            p {
                font-weight: normal;
                line-height: 1.2;
                font-size: 0.875rem;
                color: #1B1A1B;
            }

            .link {
                position: relative;
                margin-top: 1.5rem;
                color: #C5904F;
                font-weight: 500;
                font-size: 1rem;
                line-height: 1.05;

                i {
                    font-style: normal;
                    display: inline-block;
                    margin-left: 0.75rem;
                }

                svg {
                    fill: #C5904F;
                }

            }

        }

    }

}