.create {

	a {
		outline: none;
		border: none;
		text-decoration: none;
		display: inline-block;
		white-space: nowrap;
		@include transition(all, .4s, ease-in, 0s);

		&:focus {
			outline: none;
			border: none;
		}

	}

}