.footer {
	padding-top: 5.625rem;

	&-top {
		border-top: 1.4px solid #C5904F;
		padding-top: 8.3125rem;

		.ttl {
			color: #1B1A1B;
			font-weight: normal;
			font-size: 2.625rem;
			font-family: 'Greta Dis Nar Pro Reg', sans-serif;
			margin-bottom: 1.25rem;
		}

		.d-flex {
			margin-left: -0.625rem;
			margin-right: -0.625rem;
		}

		.bx {
			padding-left: 0.625rem;
			padding-right: 0.625rem;
			flex: 0 0 52%;
			max-width: 52%;

			&:first-child {
				flex: 0 0 34%;
				max-width: 34%;
			}

			&-gr {
				display: flex;
				align-items: center;
				column-gap: 1.5rem;
				margin-bottom: 0.9375rem;

				.page-btn {
					max-width: 244px;
					min-width: 244px;
				}

				.phone {
					text-decoration: none;
					display: inline-block;
					color: #1B1A1B;
					font-weight: 500;
					font-size: 1.5rem;
					white-space: nowrap;
				}

			}

			&-fl {
				display: flex;
				flex-wrap: wrap;
				margin-left: -0.625rem;
				margin-right: -0.625rem;
				justify-content: space-between;
			}

			&-item {
				padding-left: 0.625rem;
				padding-right: 0.625rem;
				flex: 0 0 49%;
				max-width: 49%;
			}

			.name {
				text-decoration: none;
				color: #1B1A1B;
				font-weight: 500;
				font-size: 1.125rem;
				display: inline-block;
				margin-bottom: 0.75rem;
			}

			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;

				&.ul-inline {

					li {
						display: inline;
						padding-right: 0.75rem;

						&::after {
							@include pseudo();
							width: 4px;
							height: 4px;
							background-color: #D9D9D9;
							@include bRadius(50%);
							top: 50%;
							right: 2px;
							@include transform(translateY(-50%));
						}

						&:last-child {
							padding-right: 0;

							&::after {
								content: none;
							}

						}
					}

				}

				li {
					position: relative;
					margin-bottom: 5px;

					a {
						text-decoration: none;
						font-weight: 500;
						font-size: 0.875rem;
						color: #929292;
					}

				}

			}

		}

		.group {

			&:not(:first-child) {
				margin-top: 2.1875rem;
			}

			&-fl {
				display: flex;
				column-gap: 1.5rem;

				.name {
					margin-bottom: 0;
				}

			}

		}

		.work-time {
			color: rgba(113, 113, 113, 0.5);
			font-weight: 500;
			font-size: 0.875rem;
			line-height: 1;
			margin-bottom: 6px;
		}

		.adres {
			font-weight: 500;
			color: #1B1A1B;
			font-size: 0.875rem;
			line-height: 1;
			margin-bottom: 6px;
		}

		.email {
			text-decoration: none;
			display: inline-block;
			color: #1B1A1B;
			font-weight: 500;
			font-size: 0.875rem;
			line-height: 1;
		}

	}

	&-bottom {
		padding-top: 10.3125rem;
		position: relative;
		padding-bottom: 1.325rem;

		.d-flex {
			margin-left: -0.625rem;
			margin-right: -0.625rem;
		}

		.bx {
			padding-left: 0.625rem;
			padding-right: 0.625rem;
			flex: 0 0 52%;
			max-width: 52%;

			&:first-child {
				flex: 0 0 34%;
				max-width: 34%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

				p {
					margin: 0;
					color: #C5904F;
					font-weight: 500;
					font-size: 0.875rem;
				}

			}

			&-fl {
				display: flex;
				flex-wrap: wrap;
				margin-left: -0.625rem;
				margin-right: -0.625rem;
				justify-content: space-between;
			}

			&-item {
				padding-left: 0.625rem;
				padding-right: 0.625rem;
				flex: 0 0 49%;
				max-width: 49%;

				a {
					text-decoration: none;
					display: inline-block;
					color: #C5904F;
					font-weight: 500;
					font-size: 0.875rem;
				}

			}

			.year {
				flex: 0 0 43%;
				max-width: 43%;
				color: #1B1A1B;
				font-weight: 500;
				font-size: 0.875rem;
			}
		}

	}

}
