form {

	input {
		width: 100%;
		outline: none;
		box-sizing: border-box;
		border: none;
	}

}

.form {

	&-search {

		&_gr {
			position: relative;
			min-width: 321px;
			 
			input {
				@include bRadius(10px);
				height: 46px;
				background-color: #E7E7E7;
				@include transition(color, .4s, linear, 0s);
				color:#1B1A1B80;
				font-weight: 500;
				font-size: 1rem;
				font-family: 'Inter', sans-serif;
				padding-left: 2.5rem;
				padding-top: 0.625rem;
				padding-bottom: 0.625rem;
				padding-right: 0.9375rem;
			}

			i {
				font-style: normal;
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 0.75rem;
				@include transform(translateY(-50%));
				line-height: 0;
				pointer-events: none;
				user-select: none;
			}

			svg {
				stroke: #1B1A1B; 
				stroke-opacity: 0.5;
				@include transition(stroke-opacity, .4s, ease-in-out, 0s); 
			}

		}

	}

	&-box {
		display: flex;
		column-gap: 6px;

		&_gr {
			min-width: 208px;
		}

		input {
			background-color: #fff;
			@include bRadius(10px);
			height: 46px;
			color: #1B1A1B;
			font-weight: 500;
			font-size: 1rem;
			padding-left: 1.0625rem;
			padding-top: 0.625rem;
			padding-bottom: 0.625rem;
			padding-right: 1.0625rem;

			&::placeholder {
				color: #1B1A1B;
				opacity: 1;
				font-weight: 500;
			}

		}

	}

	&-entry {

		&_gr {
			
			&:not(:first-child) {
				margin-top: 0.625rem;
			}

			input {
				height: 54px;
				border: 1px solid rgba(202, 202, 202, 0.4);
				@include bRadius(10px);
				padding: 14px 22px;
				font-weight: 500;
				font-size: 1rem;
				color: rgba(27, 26, 27, 0.5);

				&::placeholder {
					color: rgba(27, 26, 27, 0.5);
				}

			}

		}

		&_btn {
			padding-top: 2rem;

			.page-btn {
				height: 54px;
				max-width: 100%;
			}

		}

	}

	&-reg {

		&_gr {
			
			&:not(:first-child) {
				margin-top: 0.625rem;
			}

			input {
				height: 54px;
				border: 1px solid rgba(202, 202, 202, 0.4);
				@include bRadius(10px);
				padding: 14px 22px;
				font-weight: 500;
				font-size: 1rem;
				color: rgba(27, 26, 27, 0.5);

				&::placeholder {
					color: rgba(27, 26, 27, 0.5);
				}

			}

		}

		&_btn {
			padding-top: 2rem;

			.page-btn {
				height: 54px;
				max-width: 100%;
			}

		}

		&_check {
			position: relative;
			margin-top: 1.5rem;

			input[type="checkbox"] {
				position: absolute;
				left: 0;
				opacity: 0;

				&:checked {

					~ label {

						span {

							&::before {
								opacity: 1;
							}

						}
						
					}

				}

			}

			label {
				position: relative;
				color: rgba(27, 26, 27, 0.5);
				font-weight: normal;
				font-size: 1rem;
				padding-left: 3rem;
				display: block;

				a {
					text-decoration: underline;
					text-decoration-skip-ink: none;
					color: rgba(27, 26, 27, 0.5);
				}

				span {
					position: absolute;
					display: inline-block;
					left: 0;
					width: 2rem;
					height: 2rem;
					@include bRadius(10px);
					border: 1px solid rgba(202, 202, 202, 0.4);
					top: 0;
					cursor: pointer;

					&::before {
						@include pseudo();
						width: 0.75rem;
						height: 0.75rem;
						@include bRadius(50%);
						left: 50%;
						top: 50%;
						@include transform(translateY(-50%) translateX(-50%));
						@include transition(all, .4s, ease-in, 0s);
						background-color: #C5904F;
						opacity: 0;
					}

				}

			}

		}

	}

	&-mail {

		&_gr {

			input {
				height: 54px;
				border: 1px solid rgba(202, 202, 202, 0.4);
				@include bRadius(10px);
				padding: 14px 22px;
				font-weight: 500;
				font-size: 1rem;
				color: rgba(27, 26, 27, 0.5);

				&::placeholder {
					color: rgba(27, 26, 27, 0.5);
				}

			}

		}

		&_btn {
			padding-top: 2rem;

			.page-btn {
				height: 54px;
				max-width: 100%;
			}

		}

	}

}