form {

	input, textarea {
		width: 100%;
		outline: none;
		box-sizing: border-box;
		border: none;
	}

}

.form {

	&-search {

		&_gr {
			position: relative;
			min-width: 321px;
			 
			input {
				@include bRadius(10px);
				height: 46px;
				background-color: #E7E7E7;
				@include transition(color, .4s, linear, 0s);
				color:#1B1A1B80;
				font-weight: 500;
				font-size: 1rem;
				font-family: 'Inter', sans-serif;
				padding-left: 2.5rem;
				padding-top: 0.625rem;
				padding-bottom: 0.625rem;
				padding-right: 0.9375rem;
			}

			i {
				font-style: normal;
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 0.75rem;
				@include transform(translateY(-50%));
				line-height: 0;
				pointer-events: none;
				user-select: none;
			}

			svg {
				stroke: #1B1A1B; 
				stroke-opacity: 0.5;
				@include transition(stroke-opacity, .4s, ease-in-out, 0s); 
			}

		}

	}

	&-box {
		display: flex;
		column-gap: 6px;

		&_gr {
			min-width: 208px;
		}

		input {
			background-color: #fff;
			@include bRadius(10px);
			height: 46px;
			color: #1B1A1B;
			font-weight: 500;
			font-size: 1rem;
			padding-left: 1.0625rem;
			padding-top: 0.625rem;
			padding-bottom: 0.625rem;
			padding-right: 1.0625rem;

			&::placeholder {
				color: #1B1A1B;
				opacity: 1;
				font-weight: 500;
			}

		}

	}

	&-entry {

		&_gr {
			
			&:not(:first-child) {
				margin-top: 0.625rem;
			}

			input {
				height: 54px;
				border: 1px solid rgba(202, 202, 202, 0.4);
				@include bRadius(10px);
				padding: 14px 22px;
				font-weight: 500;
				font-size: 1rem;
				color: rgba(27, 26, 27, 0.5);

				&::placeholder {
					color: rgba(27, 26, 27, 0.5);
				}

			}

		}

		&_btn {
			padding-top: 2rem;

			.page-btn {
				height: 54px;
				max-width: 100%;
			}

		}

	}

	&-reg {

		&_gr {
			
			&:not(:first-child) {
				margin-top: 0.625rem;
			}

			input {
				height: 54px;
				border: 1px solid rgba(202, 202, 202, 0.4);
				@include bRadius(10px);
				padding: 14px 22px;
				font-weight: 500;
				font-size: 1rem;
				color: rgba(27, 26, 27, 0.5);

				&::placeholder {
					color: rgba(27, 26, 27, 0.5);
				}

			}

		}

		&_btn {
			padding-top: 2rem;

			.page-btn {
				height: 54px;
				max-width: 100%;
			}

		}

		&_check {
			position: relative;
			margin-top: 1.5rem;

			input[type="checkbox"] {
				position: absolute;
				left: 0;
				opacity: 0;

				&:checked {

					~ label {

						span {

							&::before {
								opacity: 1;
							}

						}
						
					}

				}

			}

			label {
				position: relative;
				color: rgba(27, 26, 27, 0.5);
				font-weight: normal;
				font-size: 1rem;
				padding-left: 3rem;
				display: block;

				a {
					text-decoration: underline;
					text-decoration-skip-ink: none;
					color: rgba(27, 26, 27, 0.5);
				}

				span {
					position: absolute;
					display: inline-block;
					left: 0;
					width: 2rem;
					height: 2rem;
					@include bRadius(10px);
					border: 1px solid rgba(202, 202, 202, 0.4);
					top: 0;
					cursor: pointer;

					&::before {
						@include pseudo();
						width: 0.75rem;
						height: 0.75rem;
						@include bRadius(50%);
						left: 50%;
						top: 50%;
						@include transform(translateY(-50%) translateX(-50%));
						@include transition(all, .4s, ease-in, 0s);
						background-color: #C5904F;
						opacity: 0;
					}

				}

			}

		}

	}

	&-mail {

		&_gr {

			input {
				height: 54px;
				border: 1px solid rgba(202, 202, 202, 0.4);
				@include bRadius(10px);
				padding: 14px 22px;
				font-weight: 500;
				font-size: 1rem;
				color: rgba(27, 26, 27, 0.5);

				&::placeholder {
					color: rgba(27, 26, 27, 0.5);
				}

			}

		}

		&_btn {
			padding-top: 2rem;

			.page-btn {
				height: 54px;
				max-width: 100%;
			}

		}

	}

	&-personal {

		&_gr {

			&:not(:first-child) {
				margin-top: 0.75rem;
			}

			input, textarea {
				background-color: #F7F7F7;
				height: 54px;
				@include bRadius(10px);
				padding: 14px 22px;
				color: rgba(27, 26, 27, 0.5);
				font-weight: 500;
				font-size: 1rem;

				&::placeholder {
					color: rgba(27, 26, 27, 0.5);
				}

			}

			label {
				display: block;
				color: #1B1A1B;
				font-weight: 500;
				font-size: 0.875rem;
				margin-bottom: 0.75rem;
			}

			textarea {
				resize: none;
				height: 92px;
			}

		}

		&_btn {
			padding-top: 2rem;

			.page-btn {
				max-width: 100%;
				height: 54px;
			}

		}

	}

	&-bask {

		&_fl {
			display: flex;
			flex-wrap: wrap;
			margin-left: -15px;
			margin-right: -15px;
		}

		&_bx {
			padding-left: 15px;
			padding-right: 15px;
			flex: 0 0 64%;
			max-width: 64%;

			&:first-child {
				flex: 0 0 36%;
				max-width: 36%;
			}

		}
		&_name {
			color: #1B1A1B;
			font-weight: 500;
			font-size: 0.875rem;
			line-height: 1.05;
			margin-bottom: 9px;
		}

		&_gr {
			position: relative;

			&:not(:first-child) {
				margin-top: 0.625rem;
			}

			input, textarea {
				height: 54px;
				background-color: #F7F7F7;
				@include bRadius(10px);
				padding-top: 14px;
				padding-bottom: 14px;
				padding-left: 22px;
				padding-right: 22px;
				font-weight: 500;
				font-size: 1rem;
				line-height: 1.05;
				color: #1B1A1B;
				font-family: 'Inter', sans-serif;

				&::placeholder {
					color: rgba(27, 26, 27, 0.5);
				}

			}

			textarea {
				resize: none;
				height: 86px;
				padding-top: 16px;
				padding-bottom: 16px;
			}

		}

		&_box {
			padding-top: 1.0625rem;
			display: flex;
			flex-wrap: wrap;
			margin-left: -5px;
			margin-right: -5px;
		}

		&_item {
			padding-left: 5px;
			padding-right: 5px;
			flex: 0 0 calc(100% / 3);
			max-width: calc(100% / 3);

			label {
				display: block;
				color: rgba(27, 26, 27, 0.5);
				font-weight: 500;
				font-size: 0.875rem;
				line-height: 1.05;
				margin-bottom: 5px;
			}

			.form-bask_gr {
				margin-top: 0;
			}

			.checked {
				position: relative;
				margin-top: 1.25rem;

				input[type="checkbox"] {
					position: absolute;
					opacity: 0;

					&:checked {

						~ label {

							span {

								&::before {
									opacity: 1;
								}

							}

						}

					}

				}

				label {
					position: relative;
					font-weight: 500;
					display: block;
					font-size: 1rem;
					line-height: 1.05;
					color: rgba(27, 26, 27, 0.5);
					padding-left: 2rem;

					span {
						position: absolute;
						left: 0;
						top: 2px;
						display: inline-block;
						width: 1.5rem;
						height: 1.5rem;
						@include bRadius(6px);
						border: 1px solid rgba(202, 202, 202, 0.4);

						&::before {
							width: 0.75rem;
							height: 0.75rem;
							@include bRadius(50%);
							@include pseudo();
							@include transform(translateY(-50%) translateX(-50%));
							background-color: #C5904F;
							top: 50%;
							left: 50%;
							@include transition(all, .4s, ease-in, 0s);
							opacity: 0;
						}

					}

					i {
						font-style: normal;
						display: block;
						color: #C5904F;
					}

				}

			}

		}

		&_bottom {
			padding-top: 1.5rem;
		}

	}

}