.header {
	padding-top: 0.625rem;
	padding-bottom: 0.625rem;
	z-index: 1;
	position: relative;
	
	.bx {
		display: flex;
		align-items: center;
		position: relative;
	}

	&-line {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;

		img {
			margin: 0 auto;
		}

	}

	.logo {
		margin-right: 1.5625rem;
	}

	&-menu {
		text-decoration: none;
		display: inline-block;
		position: relative;
		@include bRadius(10px);
		@include transition(background, .4s, ease-in, 0s);
		background: linear-gradient(90deg, #1B1A1B 0%, #2E2A26 100%);
		color: #fff;
		font-weight: 500;
		font-size: 1rem;
		padding-top: 0.875rem;
		padding-bottom: 0.875rem;
		padding-left: 2.25rem;
		padding-right: 1rem;
		line-height: 1.15;
		z-index: 1;

		i {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 0.6875rem;
			@include transform(translateY(-50%));
		}

		&_box {
			position: absolute;
			top: 10px;
			background-color: #fff;
			left: 177px;
			width: calc(100% - 170px);
			border: 1px solid #C1C1C1;
			@include bRadius(10px);
			padding-top: 4.375rem;
			padding-left: 2.5rem;
			padding-right: 4.375rem;
			padding-bottom: 2.25rem;
			box-shadow: 0px 0px 12px 0px #0000000D;
			@include transition(opacity, .4s, ease-in, 0s);
			opacity: 0;
			visibility: hidden;
		}

		&_wrap {

			.link {
				position: relative;
				text-decoration: none;
				display: inline-block;
				font-weight: 600;
				font-size: 1rem;
				color: #C5904F;
				padding-right: 0.875rem;

				i {
					font-style: normal;
					position: absolute;
					display: inline-block;
					right: 0;
					top: 50%;
					@include transform(translateY(-50%));
				}

				svg {
					fill: #C5904F;
				}

			}

		}

		&_gr {
			padding-top: 0.875rem;
			display: flex;
			flex-wrap: wrap;
			margin-left: -1.125rem;
			margin-right: -1.125rem;

			.gr {
				flex: 0 0 calc(100% / 3);
				max-width: calc(100% / 3);
				padding-left: 1.125rem;
				padding-right: 1.125rem;
			}

			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;

				li {

					&:not(:last-child) {
						margin-bottom: 0.875rem;
					}

					a {
						text-decoration: none;
						display: block;
						font-weight: 500;
						font-size: 1rem;
						color: #1B1A1B;
						opacity: 0.5;
					}


				}

			}

		}

		&_name {
			color: #1B1A1B;
			font-weight: 600;
			font-size: 1rem;
			text-decoration: none;
			display: block;
			margin-bottom: 0.875rem;
		}

	}

	&-search {
		margin-left: 6px;
		z-index: 1;
		// width: 476px;
	}

	nav {
		margin-right: 3.75rem;

		> ul {
			display: flex;
			align-items: center;
			column-gap: 1.5rem;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				
				&.dropdown {
					position: relative;

					a {
						padding-right: 1rem;

						i {
							font-style: normal;
							display: inline-block;
							line-height: 0;
							position: absolute;
							right: 0;
							top: 50%;
							@include transform(translateY(-50%));
							@include transition(all, .4s, ease-in, 0s);
						}

					}

				}

				&.active {
					z-index: 1;
					
					> a {
						z-index: 1;
						color: #C5904F;

						i {
							@include transform(translateY(-50%) rotateX(180deg));
						}

						svg {
							fill: #C5904F;
						}

					}
					
					> div {
						opacity: 1;
						visibility: visible;
					}

				}

				a {
					text-decoration: none;
					display: inline-block;
					color: #1B1A1B;
					font-weight: 500;
					font-size: 1rem;
					position: relative;
					@include transition(color, .4s, linear, 0s);

					svg {
						fill: #0F0F0F;
						@include transition(fill, .4s, linear, 0s);
					}

				}

			}

		}

	}

	.icons {
		display: flex;
		align-items: center;
		column-gap: 1rem;

		a {
			text-decoration: none;
			display: inline-block;
			position: relative;
			line-height: 1;

			svg {
				fill: #1D1C1C;
			}

			i {
				display: grid;
				place-items: center;
				width: 18px;
				height: 18px;
				@include bRadius(50%);
				background-color: #C5904F;
				color: #fff;
				font-weight: 600;
				font-size: 0.625rem;
				line-height: 1;
				font-style: normal;
				position: absolute;
				top: -8px;
				right: -8px;
				opacity: 0;
				visibility: hidden;
			}

		}


	}

	&-nav {
		position: absolute;
		background-color: #fff;
		border: 1px solid #c1c1c1;
		top: -1.25rem;
		left: -2rem;
		padding-left: 2rem;
		padding-top: 3.75rem;
		padding-right: 2rem;
		padding-bottom: 2rem;
		@include bRadius(10px);
		@include transition(all, .4s, ease-in, 0s);
		opacity: 0;
		visibility: hidden;
		min-width: 447px;

		ul {

			&.list-2 {
				display: grid;
				grid-template-columns: repeat(2, 1fr);
				column-gap: 2.5rem;
			}

			li {
				margin-bottom: 0.875rem;        

				a {
					opacity: 0.5;
				}

			}

		}

	}

}

.logo {
	text-decoration: none;
	display: inline-block; 
}