.main {
	
    &-set {
        padding-top: 1.325rem;
        padding-bottom: 3.125rem;

        &_filter {
            background-color: #fff;
            position: relative;
            box-shadow: 0px 4px 12px 0px #0000001A;
            padding: 6px;
            @include bRadius(10px);

            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;
                display: flex;
                column-gap: 6px;

                li {
                    height: inherit;

                    &.more {

                        a {
                            padding-left: 3.125rem;
                            padding-right: 3.125rem;

                            i {
                                font-style: normal;
                                color: #1B1A1B;
                            }

                        }

                    }

                    &.active {

                        a {
                            background-color: #C5904F;
                            color: #fff;
                        }

                    }

                    a {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        height: 100%;
                        @include transition(all, .4s, ease-in, 0s);
                        padding-top: 0.625rem;
                        padding-bottom: 0.625rem;
                        padding-left: 1.325rem;
                        padding-right: 1.325rem;
                        text-align: center;
                        background-color: #F7F7F7;
                        @include bRadius(10px);
                        color: rgba(27, 26, 27, 0.7);
                        font-weight: 500;
                        font-size: 1rem;
                        line-height: 1;
                    }

                }

            }

        }

        &_block {
            padding-top: 1.325rem;

            .d-flex {
                margin-left: -0.75rem;
                margin-right: -0.75rem;
                row-gap: 1.875rem;
            }

            .bx {
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                flex: 0 0 20%;
                max-width: 20%;
            }

        }

    }

    &-ivent {
        padding-top: 3.125rem;
        text-align: center;
        padding-bottom: 3.125rem;

        .d-flex {
            margin-left: -0.9375rem;
            margin-right: -0.9375rem;
        }

        .bx {
            padding-left: 0.9375rem;
            padding-right: 0.9375rem;
            flex: 0 0 40%;
            max-width: 40%;
            position: relative;

            &::before, &::after {
                @include pseudo();
                top: 50%;
                @include transform(translatey(-50%));
            }


            &:first-child, &:last-child {
                flex: 0 0 22%;
                max-width: 22%;
            }

        }

        .name {
            color: #1B1A1B;
            font-weight: 500;
            font-size: 1.325rem;
            margin-bottom: 0.75rem;
            line-height: 1.2;
        }

        p {
            color: #1B1A1B;
            font-weight: normal;
            font-size: 0.875rem;
            line-height: 1.2;
        }

        .ttl {
            color: #C5904F;
            font-weight: normal;
            font-size: 3.875rem;
            line-height: 1;
            font-family: 'Greta Dis Nar Pro Reg', sans-serif;
            font-weight: normal;

            i {
                font-style: italic;
            }

        }

        .icon {
            margin-bottom: 0.625rem;

            img {
                margin: 0 auto;
            }

        }


    }

    &-format {
        padding-top: 3.125rem;
        padding-bottom: 1.875rem;

        .ttl {
            color: rgba(27, 26, 27, 0.3);
            text-align: center;
            font-weight: 500;
            font-size: 1.125rem;
            text-transform: uppercase;
        }

        &_block {
            padding-top: 1rem;

            .d-flex {
                margin-left: -8px;
                margin-right: -8px;
            }

            .bx {
                padding-left: 8px;
                padding-right: 8px;
                flex: 0 0 25%;
                max-width: 25%;
            }

        }

    }

    &-option {
        padding-top: 1.25rem;
        padding-bottom: 3.75rem;

        &_box {
            position: relative;
            background-color: #fff;
            @include bRadius(10px);
            padding-top: 6.875rem;
            padding-left: 7.5rem;
            padding-right: 7.5rem;
            padding-bottom: 9rem;
            border: 1.2px solid;
            border-image-source: radial-gradient(51.7% 15410.97% at 50% 50%, rgba(222, 169, 104, 0.25) 0%, rgba(222, 169, 104, 0.25) 55.44%, rgba(255, 255, 255, 0) 77.4%);
        }

        h2 {
            text-align: center;
            color: #C5904F;
            font-weight: normal;
            font-size: 2.625rem;
            font-family: 'Greta Dis Nar Pro Reg', sans-serif;

            i {
                font-style: italic;
            }

        }

        &_block {
            padding-top: 2.5rem;

            .d-flex {
                margin-left: -0.625rem;
                margin-right: -0.625rem;
            }

            .bx {
                padding-left: 0.625rem;
                padding-right: 0.625rem;
                flex: 0 0 48%;
                max-width: 48%;

                &:first-child, &:last-child {
                    flex: 0 0 26%;
                    max-width: 26%;
                }

                &-gr {

                    &:not(:first-child) {
                        margin-top: 3rem;
                    }

                }

            }

            .image {

                img {
                    margin: 0 auto;
                }

            }

            .name {
                color: #1B1A1B;
                font-weight: 600;
                font-size: 1.125rem;
                margin-bottom: 0.625rem;
            }

            p {
                color: #1B1A1B;
                font-weight: normal;
                font-size: 0.875rem;
            }

        }

        &_form {
            position: relative;
            background-color: #fff;
            @include bRadius(1.5rem);
            box-shadow: 0px 4px 10px 0px #0000001A;
            width: 100%;
            max-width: 745px;
            padding-top: 2rem;
            padding-left: 3.75rem;
            padding-right: 3.75rem;
            padding-bottom: 2.6875rem;
            margin-left: auto;
            margin-right: auto;
            margin-top: -6.25rem;
            border: 1px solid rgba(222, 169, 104, 0.3);

            .ttl {
                text-align: center;
                color: #686868;
                font-weight: 500;
                font-size: 1.125rem;
                margin-bottom: 1.25rem;
            }

            .form-box {

                input {
                    background-color: #F2F2F2;
                }

            }

            .desc {
                margin-top: 0.75rem;
                text-align: center;
                font-weight: normal;
                font-size: 0.75rem;
                color: rgba(16, 30, 43, 0.6);
            }

        }

    }

    &-hit {
        padding-top: 3.75rem;
        padding-bottom: 3.125rem;

        h2 {
            text-align: center;
            color: #1B1A1B;
            font-weight: normal;
            font-size: 2.625rem;
            font-family: 'Greta Dis Nar Pro Reg', sans-serif;

            i {
                font-style: italic;
            }

        }

        &_top {

            .page-btn {
                min-width: 196px;
            }

        }

        &_block {
            padding-top: 1.5rem;

            .d-flex {
                margin-left: -0.75rem;
                margin-right: -0.75rem;
            }

            .bx {
                padding-left: 0.75rem;
                padding-right: 0.75rem;
                flex: 0 0 20%;
                max-width: 20%;
            }

        }

    }

    &-prof {
        padding-top: 3.125rem;
        padding-bottom: 5rem;

        h2 {
            color: #1B1A1B;
            font-weight: normal;
            font-size: 2.625rem;
            font-family: 'Greta Dis Nar Pro Reg', sans-serif;
            line-height: 1;

            i {
                font-style: italic;
            }

        }

        .txt {
            margin-top: 1.875rem;
            color: #1B1A1B;
            font-weight: normal;
            font-size: 0.875rem;

            p {
                margin: 0 0 1rem;

                &:last-child {
                    margin-bottom: 0;
                }

            }

        }

        .page-wrap {
            padding-left: 8.75rem;
        }

        .d-flex {
            margin-left: -0.625rem;
            margin-right: -0.625rem;
        }

        .bx {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            flex: 0 0 63%;
            max-width: 63%;

            &:first-child {
                flex: 0 0 37%;
                max-width: 37%;
                align-self: center;
            }

            &-wrap {
                position: relative;
            }

            &-label {
                position: absolute;
                right: 0;
                top: 5rem;
                padding-left: 10px;

                &::before {
                    @include pseudo($content: url(../img/line-sm.png));
                    left: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                }

                .name {
                    font-weight: normal;
                    font-size: 1.625rem;
                    color: #C5904F;
                    font-family: 'Greta Dis Nar Pro Reg', sans-serif;
                    line-height: 1;
                }

                .post {
                    font-weight: 500;
                    font-size: 1rem;
                    color: rgba(27, 26, 27, 0.5);
                    letter-spacing: -0.3px;
                    line-height: 1;
                }

            }

        }

        .image {
            position: relative;

            img {
                margin: 0 auto;
            }

        }

        &_bottom {
            padding-top: 1.625rem;  

            .name {
                color: #C5904F;
                font-weight: 500;
                font-size: 0.75rem;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }

        }

        &_ch {
            display: flex;
            column-gap: 6px;

            .link {
                text-decoration: none;
                display: inline-block;
                background-color: #fff;
                @include bRadius(6px);
                color: #1B1A1B;
                font-weight: 500;
                font-size: 1rem;
                padding-left: 1.125rem;
                padding-right: 1.25em;         
                line-height: 1;
                padding-top: 0.875rem;
                padding-bottom: 0.875rem;

                i {
                    font-style: normal;
                    display: inline-block;
                    margin-left: 12px;
                }

                svg {
                    fill: #C5904F;
                }

            }

        }

    }

    &-smart {
        padding-top: 5rem;
        padding-bottom: 1.875rem;

        .d-flex {
            margin-left: -8px;
            margin-right: -8px;
        }

        .bx {
            padding-left: 8px;
            padding-right: 8px;
            flex: 0 0 50%;
            max-width: 50%;
        }

    }

    &-case {
        padding-top: 1.875rem;
        padding-bottom: 4.375rem;

        h2 {
            color: #1B1A1B;
            font-weight: normal;
            font-size: 2.625rem;
            font-family: 'Greta Dis Nar Pro Reg', sans-serif;
            line-height: 1;

            i {
                font-style: italic;
            }

        }

        &_top {

            .page-btn {
                min-width: 196px;
            }

        }

        &_block {
            padding-top: 1.5rem;

            .d-flex {
                margin-left: -8px;
                margin-right: -8px;
            }

            .bx {
                padding-left: 8px;
                padding-right: 8px;
                flex: 0 0 25%;
                max-width: 25%;
            }

        }

    }

    &-org {
        padding-top: 4.375rem;
        padding-bottom: 3.125rem;

        h2 {
            color: #1B1A1B;
            font-weight: normal;
            font-size: 2.625rem;
            font-family: 'Greta Dis Nar Pro Reg', sans-serif;
            line-height: 1;

            i {
                font-style: italic;
            }

        }

        .page-wrap {
            padding-right: 8.5rem;
        }

        .d-flex {
            margin-left: -0.625rem;
            margin-right: -0.625rem;
        }

        .txt {
            margin-top: 1.875rem;
            color: #1B1A1B;
            font-weight: normal;
            font-size: 0.875rem;

            p {
                margin: 0 0 1rem;

                &:last-child {
                    margin-bottom: 0;
                }

            }

        }

        .bx {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            flex: 0 0 37%;
            max-width: 37%;

            &:first-child {
                flex: 0 0 63%;
                max-width: 63%;
            }

            &:last-child {
                align-self: center;
            }

            &-wrap {
                position: relative;
            }

            &-label {
                position: absolute;
                top: 5rem;
                left: 0;
                text-align: right;
                max-width: 273px;
                padding-right: 0.625rem;

                &::before {
                    @include pseudo($content: url(../img/line-sm.png));
                    right: 0;
                    top: 50%;
                    @include transform(translateY(-50%));
                }

                .name {
                    font-weight: normal;
                    font-size: 1.625rem;
                    color: #C5904F;
                    font-family: 'Greta Dis Nar Pro Reg', sans-serif;
                    line-height: 1;
                }

                .post {
                    font-weight: 500;
                    font-size: 1rem;
                    color: rgba(27, 26, 27, 0.5);
                    letter-spacing: -0.3px;
                    line-height: 1;
                }

            }

        }

        .image {
            position: relative;

            img {
                margin: 0 auto;
            }

        }

        &_bottom {
            padding-top: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 1130px;
            margin: 0 auto;

            .name {
                color: #C5904F;
                font-weight: 500;
                font-size: 0.75rem;
                text-transform: uppercase;
                margin-right: 3.125rem;
            }

        }

        &_fl {
            display: flex;
            column-gap: 6px;

            .link {
                text-decoration: none;
                display: inline-block;
                background-color: #fff;
                @include bRadius(6px);
                color: #1B1A1B;
                font-weight: 500;
                font-size: 1rem;
                padding-left: 1.125rem;
                padding-right: 1.25em;         
                line-height: 1;
                padding-top: 0.875rem;
                padding-bottom: 0.875rem;

                i {
                    font-style: normal;
                    display: inline-block;
                    margin-left: 12px;
                }

                svg {
                    fill: #C5904F;
                }

            }

        }

    }

}

.jaw {
    position: relative;
    background-color: #F2F2F2;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #DCDCDC;
    color: #717171;
    font-weight: 500;
    font-size: 0.875rem;
    letter-spacing: -2%;

    .phone {
        display: inline-block;
        vertical-align: middle;

        a {
            color: #717171;
        }

    }

    &-call {
        position: relative;
        color: #C5904F;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        margin-right: 1.326rem;

        i {
            display: inline-block;
            vertical-align: middle;
        }

        svg {
            fill: #C5904F;
        }

    }


}