* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;

	&::before, &::after {
		box-sizing: inherit;
	}

}

.row {
	display: flex;
	margin-left: -15px;
	margin-right: -15px;
}

.d-flex {
	display: flex;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-column {
	flex-direction: column;
}

.align-items-center {
	align-items: center;
}

.flex-fill {
	flex: 1 1 auto;
}

.justify-content-between {
	justify-content: space-between;
}

.justify-content-around {
	justify-content: space-around;
}

.justify-content-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.mw-100 {
	max-width: 100%;
}

.d-block {
	display: block;
}

.pt-0 {
	padding-top: 0!important;
}

a {
	outline: none;
	border: none;

	&:focus {
		outline: none;
		border: none;
	}

}

.page {
	min-height: 100%;

	&-wrap {
		clear: both;
		margin: 0 auto;	
		max-width: 1470px;
		position: relative;
		width: 100%;
		padding-left: 15px;
		padding-right: 15px;

		&::before, &::after {
			content: "";
			display: table;
		}

		&::after {
			clear: both;
		}

	}

	:where(h1, h2) {
		margin: 0;
		color: #000;
	}

	&-btn {
		max-width: 196px;
		width: 100%;
		padding: 8px 15px;
		@include bRadius(10px);
		text-align: center;
		display: grid;
		height: 46px;
		place-items: center;
		@include transition(all, .4s, ease-in, 0s);
		text-decoration: none;
		border: none;
		font-weight: 500;
		font-size: 1rem;

		&_curr {
			color: #fff;
			background: linear-gradient(90deg, #C5904F 0%, #DEA968 100%);
		}

		&_gr {
			color: #fff;
			background-color: #1B1A1B;

			svg {
				fill: #C5904F;
			}

		}

		&_icon {
			
			i {
				font-style: normal;
				display: inline-block;
				margin-left: 4px;
			}

		}

		&_wh {
			background-color: #fff;
			color: #C5904F;
		}

	}

	&-ruller {
		padding-top: 1.875rem;
		display: grid;
		place-items: center;

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: flex;
			align-items: center;

			li {
				margin: 0 6px;

				&.ruller {

					&-prev {
						margin-right: 24px;
						line-height: 0;
					}

					&-next {
						margin-left: 24px;
						line-height: 0;
					}

				}

				&.active {

					a {
						color: #1B1A1B;
					}
					
				}

				a {
					text-decoration: none;
					display: inline-block;
					@include transition(all, .4s, ease-in, 0s);
					color: rgba(27, 26, 27, 0.5);
					font-weight: 500;
					font-size: 1.125rem;
					line-height: 1;

					svg {
						fill: #C5904F;
					}

				}

			}

		}

	}

	&-cookie {
		position: fixed;
		z-index: 5;
		background-color: #1B1A1B;
		@include bRadius(10px);
		padding-top: 8px;
		padding-bottom: 8px;
		padding-right: 8px;
		padding-left: 24px;
		display: flex;
		min-width: 672px;
		color: #fff;
		font-weight: normal;
		font-size: 1rem;
		line-height: 1;
		justify-content: space-between;
		bottom: 5%;
		align-items: center;
		right: 3vw;

		p {
			letter-spacing: -0.1px;

			a {
				color: #fff;
				font-weight: normal;
				font-size: 1rem;
				text-decoration: underline;
				text-decoration-skip-ink: none;
			}

		}

		.page-btn {
			max-width: 156px;
			margin-left: 20px;
		}

	}

} 
