.tab {

    &-head {

        ul {
            padding: 0;
            // margin: 0 -5px;
            margin: 0;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            border-bottom: 1.4px solid #E6E6E6;

            li {
                flex: 0 0 50%;
                max-width: 50%;
                // padding-left: 5px;
                // padding-right: 5px;

                &.active {

                    a {
                        color: #C5904F;

                        &::after {
                            opacity: 1;
                            visibility: visible;
                        }

                    }

                }

                a {
                    text-decoration: none;
                    display: block;
                    text-align: center;
                    color: rgba(27, 26, 27, 0.5);
                    font-weight: 500;
                    font-size: 1rem;
                    @include transition(all, .4s, ease-in, 0s);
                    padding-bottom: 0.9375rem;
                    position: relative;

                    &::after {
                        @include pseudo();
                        bottom: -1px;
                        width: 100%;
                        height: 1.4px;
                        background-color: #C5904F;
                        @include transition(all, .4s, ease-in, 0s);
                        opacity: 0;
                        visibility: hidden;
                    }

                }

            }

        }

    }

    &-wrap {
        padding-top: 2rem;

        .npass {
            text-decoration: none;
            text-align: center;
            display: block;
            margin-top: 0.75rem;
            color: rgba(27, 26, 27, 0.5);
            font-weight: 500;
            font-size: 1rem;
        }

    }

    &-item {
        display: none;

        &.active {
            display: block;
        }

    }

}