@import "mixin";

.banner {
    position: relative;

    &-box {
        position: relative;
        overflow: hidden;

        .box {
            padding-top: 3.375rem;
            position: relative;
            min-height: 484px;

            &-img {
                position: absolute;
                bottom: 0;

                img {
                    margin: 0 auto;

                    &.d-block {
                        display: none;
                    }

                    &.d-hide {
                        display: block;
                    }

                }

            }

            &-fl {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                padding-left: 1.25rem;
                padding-right: 1.25rem;
                flex-direction: column;
                padding-top: 2.25rem;
                position: relative;
                z-index: 1;

                &_gr {
                    color: #C5904F;
                    font-size: 2.25rem;
                    text-align: center;
                    letter-spacing: -0.2px;
                    font-family: 'Greta Dis Nar Pro Reg', sans-serif;
                    font-weight: normal;
                    line-height: 1;

                    i {
                        font-family: 'Greta Dis Nar Pro Reg', sans-serif;
                        font-style: italic;
                    }

                }

            }

            &-form {
                max-width: 624px;
                position: absolute;
                bottom: 0;
                margin: 0 auto;
                left: 0;
                right: 0;
                padding-bottom: 1.325rem;
                display: none;

                form {
                    margin-bottom: 0.6875rem;
                }

                .desc {
                    text-align: center;
                    font-weight: normal;
                    font-size: 0.625rem;
                    color: rgba(255, 255, 255, 0.6);
                }

            }

        }

        .name {
            text-align: center;
            font-weight: normal;
            text-transform: uppercase;
            color: #fff;
            font-size: 0.75rem;
            letter-spacing: 0.4rem;
            opacity: 0.6;
        }

        .img {
            position: absolute;
            @include bRadius(10px 10px 0  0);
            inset: 0;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

    }

}

@include sz(min576) {

    .banner {

        &-box {

            .box {
                min-height: fit-content;

                &-img {
                    margin-left: -10%;
                    margin-right: -10%;
                    position: relative;

                    img.d-block {
                        display: block;
                    }

                    img.d-hide {
                        display: none;
                    }

                }

            }

        }

    }

}

@include sz(min860) {

    .banner {

        &-box {

            .img {
                @include bRadius(10px);
            }

            .box-fl {
                padding-left: 5rem;
                padding-right: 5rem;
                flex-direction: row;
                position: absolute;
                inset: 0;
                padding-top: 0;

                &_gr {
                    font-size: 2.625rem;
                }

            }

            .box-form {
                display: block;
            }

        }

    }

}

@include sz(min992) {

    .banner {

        &-box {

            .box {

                &-img {
                    margin-left: 0;
                    margin-right: 0;
                }

            }

        }

    }

}