@import "mixin";

.buffet {
    padding-top: 3.125rem;
    padding-bottom: 4.375rem;

    &-box {
        max-width: 1143px;
        margin-left: auto;
        margin-right: auto;

        &_gr {

            .d-flex {
                margin-left: -0.625rem;
                margin-right: -0.625rem;
            }

            .bx {
                padding-left: 0.625rem;
                padding-right: 0.625rem;
                flex: 0 0 52%;
                max-width: 52%;

                &:first-child {
                    flex: 0 0 33%;
                    max-width: 33%;
                }

            }

            &:not(:first-child) {
                margin-top: 10.375rem;
            }

            .group {
                display: flex;
                column-gap: 6px;
                margin-bottom: 6px;

                &-lab {
                    position: relative;
                    background-color: #EAEAEA;
                    @include bRadius(8px);
                    min-width: 86px;
                    text-align: center;
                    color: #7B7979;
                    font-weight: 500;
                    font-size: 0.875rem;
                    line-height: 1.05;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    padding-left: 16px;
                    padding-right: 16px;
                }

            }

            .txt {
                font-weight: normal;
                color: #1B1A1B;
                font-size: 0.875rem;
                line-height: 1.2;
                margin-top: 1.5rem;
            }

            .user-total {
                color: #1B1A1B;
                position: relative;
                font-weight: 500;
                font-size: 1rem;
                padding-left: 1.75rem;
                margin-top: 1.5rem;
                line-height: 1.2;

                .icon {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    line-height: 0;
                    @include transform(translateY(-50%));

                    svg {
                        fill: #C5904F;
                    }

                }

            }

        }

    }

    &-slider {

        &.slick-dotted.slick-slider {
            margin-bottom: 0;
        }

        .arrow {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));

            &-prev {
                left: -22px;
            }

            &-next {
                right: -22px;
            }

        }

        .img {
            position: relative;
            overflow: hidden;
            @include bRadius(10px);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

    }

    &-slide {
        margin-top: 0.75rem;
        margin-left: -6px;
        margin-right: -6px;

        .item {
            padding-left: 6px;
            padding-right: 6px;
        }

        .img {
            position: relative;
            overflow: hidden;
            @include bRadius(10px);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        }

    }

}