.breadcrumbs {
    padding: 1.25rem 0;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        li {
            padding-right: 0.875rem;
            position: relative;

            &::after {
                @include pseudo();
                top: 50%;
                right: 5px;
                font-weight: 300;
                font-size: 0.875rem;
                content: "-";
                color: #737373;
                @include transform(0, -50%);
                line-height: 0;
            }

            a {
                text-decoration: none;
                display: inline-block;
                color: #737373;
                font-weight: 300;
                font-size: 0.875rem;
            }

            &:last-child {
                pointer-events: none;
                user-select: none;
                padding-right: 0;

                &::after {
                    content: none;
                }

            }

        }

    }    

}