.cart {

    &-selection {

        a {
            display: block;
            text-decoration: none;

            .name {
                text-transform: uppercase;
                color: #000;
                font-weight: 300;
                font-size: 1.25rem;
                margin-bottom: 6px;
            }

            .price, .position {
                color: #EC6A4F;
                font-weight: 400;
                font-size: 0.875rem;
            }

            .position {
                font-size: 0.9375rem;
            }

        }

        &_img {
            position: relative;
            margin-bottom: 1.25rem;

            .shield {
                position: absolute;
                bottom: 1.875rem;
                left: 0;
                display: inline-block;
                background-color: #EC6A4F;
                min-width: 150px;
                padding-top: 7px;
                padding-bottom: 7px;
                padding-left: 0.625rem;
                padding-right: 3.125rem;

                &_name {
                    color: #fff;
                    font-weight: 400;
                    font-size: 0.6875rem;
                    text-transform: uppercase;
                    text-align: center;
                }

                &_icon {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    @include transform(0, -50%);
                    display: grid;
                    place-items: center;
                    width: 2.5rem;
                    padding: 3px 0;
                    border-left: 1px solid #D95C42;
                }

            }

            .image {
                overflow: hidden;

                img {
                    @include transition(all, .4s, ease-out, 0s);
                }

            }

        }

        &:hover {

            .cart-selection {

                &_img {

                    .image {

                        img {
                            transform: scale(1.07);
                            -webkit-transform: scale(1.07);
                            -moz-transform: scale(1.07);
                            -ms-transform: scale(1.07);
                            -o-transform: scale(1.07);
                        }

                    }

                }

            }

        }

    }

    &-view {

        a {
            text-decoration: none;
            color: #000;
            position: relative;
            display: block;
        }

        &_video {
            position: relative;
            overflow: hidden;
            margin-bottom: 1.875rem;

            .play {
                position: absolute;
                display: inline-block;
                top: 50%;
                left: 50%;
                @include transform(-50%, -50%);
            }

        }

        .name {
            font-weight: 400;
            font-size: 1rem;
            margin-bottom: 0.625rem;
        }

        .info {
            font-weight: 300;
            font-size: 0.875rem;
            max-width: 497px;
        }

    }

    &-stuff {
        position: relative;

        .image {
            position: relative;
            min-height: 186px;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;

            img {
                opacity: 0;
                visibility: hidden;
            }

        }

        .sub {
            position: absolute;
            top: 0.9375rem;
            right: 0.9375rem;
            color: #fff;
            font-weight: 400;
            font-size: 0.9375rem;
        }

        &_center {
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            @include transform(0, -50%);
            text-align: center;
            color: #fff;
            padding-left: 1.25rem;
            padding-right: 1.25rem;

            .name {
                text-transform: uppercase;
                font-weight: 300;
                font-size: 1.25rem;
            }

            .total {
                font-weight: 400;
                font-size: 1.25rem;
            }
        }

    }

}