.footer {

	&-top {
		border-top: 1px solid #DFDFDF;

		.ttl {
			font-weight: 300;
			color: #000;
			font-size: 1.5rem;
			text-transform: uppercase;
			max-width: 386px;
			margin-bottom: 0.625rem;

			i {
				font-style: normal;
				color: #EC6A4F;
			}

		}

		.info {
			color: #000;
			font-weight: 300;
			font-size: 0.9375rem;
			max-width: 400px;
			margin-bottom: 1.25rem;
		}

		.politic, .agreement {
			display: block;
			margin-bottom: 0.625rem;
		}

		.item {
			display: block;

			&:first-child {
				// margin-right: 1.875rem;
			}

			&-box {
				padding-top: 0.625rem;
			}

			&-db {
				display: none;
			}

		}

		.phone {
			margin-bottom: 0.875rem;

			a {
				font-weight: 400;
				font-size: 1.125rem;
			}

		}

		.address {
			margin-bottom: 0.875rem;
		}

		.email {
			margin-bottom: 0.875rem;

			a {
				text-decoration: none;
				display: inline-block;
				color: #000;
				position: relative;
				padding-left: 1.75rem;
				font-weight: 400;
				font-size: 1rem;

				&::before {
					@include pseudo();
					top: 50%;
					left: 0;
					content: url(../img/icon/mail_icon.svg);
					@include transform(0, -50%);
					line-height: 1;
				}

			}

		}

		.nav {
			display: inline-block;
			vertical-align: text-top;

			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;
				column-count: 2;
				column-gap: 3.75rem;

				li {
					margin-bottom: 0.9375rem;

					a {
						display: inline-block;
						text-decoration: none;
						color: #000;
						font-weight: 400;
						font-size: 0.875rem;
						text-transform: uppercase;
					}

				}

			}

		}

		.d-flex {
			margin-left: -0.9375rem;
			margin-right: -0.9375rem;
		}

		.bx {
			padding-top: 1.875rem;
			padding-bottom: 1.875rem;
			flex: 0 0 100%;
			max-width: 100%;
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			border-top: 1px solid #DFDFDF;

			&:first-child {
				border-top: none;
			}

		}

	}

	&-nav {
		display: none;

		.name {
			color: #000;
			font-weight: 400;
			font-size: 0.875rem;
			text-transform: uppercase;
			margin-bottom: 0.9375rem;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {

				&:not(:last-child) {
					margin-bottom: 0.9375rem;
				}

				a {
					display: inline-block;
					text-decoration: none;
					color: #000;
					font-weight: 300;
					font-size: 0.875rem;
					text-transform: uppercase;
				}

			}

		}

	}

	&-bottom {
		padding: 1.25rem 0;
		border-top: 1px solid #DFDFDF;

		.coopyright {
			color: #000;
			font-weight: 300;
			font-size: 0.9375rem;
			display: inline-block;
			vertical-align: middle;
		}

		.social {
			display: inline-block;
			vertical-align: middle;
			margin-left: 1.125rem;

			a {
				text-decoration: none;
				line-height: 1;
				display: inline-block;
				vertical-align: middle;

				&:not(:last-child) {
					margin-right: 1.125rem;
				}

			}

		}

		.bx {
			flex: 0 0 100%;
			max-width: 100%;

			&:first-child {
				margin-bottom: 0.9375rem;
			}

		}

	}

}

.politic, .agreement {
	text-decoration: underline;
	color: #6A6A6A;
	text-decoration-skip-ink: none;
	font-weight: 300;
	font-size: 0.8125rem;
	display: inline-block;
}