.form {
	
	&__group {
		overflow: hidden;
		position: relative;

		input {
			width: 100%;
			outline: none;
			line-height: 1.3;
			padding: 5px 10px;
			box-sizing: border-box;
		}

	}

	&-filter {
		height: 100%;

		&_top {
			padding: 1.25rem 0.9375rem;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			align-items: center;
			border-bottom: 1px solid rgba(223, 223, 223, 0.50);

			.name {
				color: #000;
				font-weight: 400;
				font-size: 1.125rem;
				text-transform: uppercase;
			}

			.clear {
				text-decoration: none;
				display: inline-block;
				color: #EC6A4F;
				font-weight: 400;
				font-size: 0.875rem;
			}
			

		}

		&_btn {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			padding-bottom: 1.875rem;

			.page__btn {
				min-width: 100%;
			}

		}

		&_flex {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			height: 100%;
		}

		&_bx {

			&:first-child {
				margin-bottom: 1.25rem;
			}

		}

	}

	&-popup {

		&_group {
			margin-bottom: 1.875rem;
			position: relative;

			input {
				width: 100%;
				box-sizing: border-box;
				padding: 10px 15px;
				color: #000;
				font-weight: 300;
				font-size: 1rem;
				height: 45px;
				border: none;
				outline: none;
				border-bottom: 1px solid #D9D9D9;

				&:focus {
					outline: none;
				}

			}

			textarea {
				width: 100%;
				box-sizing: border-box;
				padding: 10px 15px;
				color: #000;
				font-weight: 300;
				font-size: 1rem;
				height: 45px;
				border: none;
				outline: none;
				border-bottom: 1px solid #D9D9D9;
				resize: none;

				&:focus {
					outline: none;
				}
			}

			input, textarea {

				&:focus {

					~ label {
						opacity: 0;
					}

				}

				&.used {

					~ label {
						opacity: 0;
					}

				}

			}

			label {
				position: absolute;
				top: 50%;
				left: 0;
				@include transform(0, -50%);
				font-weight: 300;
				color: #000;
				font-size: 1rem;
				pointer-events: none;
				user-select: none;
				@include transition(all, .4s, ease-in, 0s);

				sup {
					color: #EC6A4F;
				}

			}

		}

		&_flex {
			margin-left: -0.9375rem;
			margin-right: -0.9375rem;
			display: flex;
			flex-wrap: wrap;
		}

		&_bx {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			flex: 0 0 percentage(1 / 1);
			max-width: percentage(1 / 1);
		}

		&_bottom {
			display: flex;
			flex-direction: column;

			.agreement {
				color: #000;
				text-decoration: none;
				max-width: 329px;
				margin-top: 1.25rem;
			}

		}

	}

}