@import "mixin";

@include sz(min370) {

	.right {

		&-bottom {

			.bx {
				flex: initial;
				max-width: initial;

				&:first-child {
					margin-bottom: 0;
				}

			}

		}

	}

	.main {

		&-section {

			&_link {

				.page__link {
					margin-bottom: 0;
					min-width: 49%;
				}

			}

		}

	}

}

@include sz(min480) {

	// ==content

}

@include sz(min576) {

	.footer {

		&-top {

			.ttl {
				font-size: 1.75rem;
			}

			.info {
				font-size: 1.0625rem;
			}

			.phone {

				a {
					font-size: 1.325rem;
				}

			}

		}

		&-bottom {

			.bx {
				flex: initial;
				max-width: initial;

				&:first-child {
					margin-bottom: 0;
				}

			}

		}

	}

	.main {

		&-top {

			&_block {

				.bx {
					flex: initial;
					max-width: initial;
					padding-left: 0;
					padding-right: 0;
					margin-bottom: 0;
				}

				.block {
					max-width: 300px;
					padding: 1.6875rem 1.25rem;
				}

			}

		}

	}

	.modal {

		&-flex {
			display: flex;
			flex-direction: column-reverse;
		}

		&-block {
			padding-top: 2.5rem;
		}

		&-close {
			width: 4.375rem;
			height: 4.375rem;
			background-color: #EC6A4F;
			top: 0;
			right: 0;

			svg {
				fill: #fff;
			}

		}

	}

	.popup {

		&-flex {
			padding-left: 1.875rem;
			padding-right: 1.875rem;
		}

	}

	.form {

		&-popup {

			&_bx {
				flex: 0 0 percentage(1 / 2);
				max-width: percentage(1 / 2);
			}

			&_bottom {
				flex-wrap: wrap;
				flex-direction: row;

				.agreement {
					margin-left: 1.875rem;
					margin-top: 0;
				}

			}

			&_group {
				margin-bottom: 2.5rem;
			}

		}

	}

}

@include sz(min680) {

	.footer {

		&-top {

			.bx {
				flex: initial;
				max-width: initial;
				padding-left: 0;
				padding-right: 0;
				border-top: none;
			}

			.d-flex {
				margin-left: 0;
				margin-right: 0;
			}

			.nav {
				margin-left: 2.5rem;

				&-dn {
					display: none;
				}

				ul {
					column-count: 1;

					li {

						&:last-child {
							margin-bottom: 0;
						}

					}

				}

			}

		}

		&-nav {
			display: inline-block;
			vertical-align: text-top;
		}

	}

	.main {

		&-top {

			&_block {
				padding-bottom: 3.75rem;

				.block {
					max-width: 409px;
					padding-left: 1.875rem;
					padding-right: 1.875rem;
					font-size: 1.0625rem;

					b {
						font-size: 1.1875rem;
					}

				}

			}

		}

		&-section {

			&_table {
				

				table {
					display: table;

					thead {
						display: table-header-group;
					}

					tbody {
						display: table-row-group;
						border-top: none;

						tr {
							display: table-row;
							border-bottom: none;
							padding-top: 0;
							padding-bottom: 0;
						}

						td {
							display: table-cell;
							padding-right: 1.25rem;
							padding-left: 0;
							font-size: 1.0625rem;

							&::before {
								content: none;
							}

						}

					}

				}

			}

			&_link {
				display: block;

				.page__link {
					font-size: 1rem;
					margin-right: 1.875rem;
					min-width: 148px;
					padding-left: 18px;
					padding-right: 18px;
				}

			}

		}

		&-pos {

			&_block {

				.bx {
					flex: 0 0 percentage(1 / 2);
					max-width: percentage(1 / 2);
				}

			}

		}

	}

	.left {

		&-wrap {
			max-width: 450px;
		}

	}

	.m-menu {

		&-wrap {
			max-width: 450px;
		}

	}

}

@include sz(min768) {

	.main {

		&-production {
			padding-top: 6.25rem;
			padding-bottom: 6.25rem;

			.bx {
				flex: 0 0 percentage(.44 / 1);
				max-width: percentage(.44 / 1);

				&:first-child {
					flex: 0 0 percentage(.56 / 1);
					max-width: percentage(.56 / 1);
					margin-bottom: 0;
				}

				&-flex {
					display: flex;
					flex-direction: column-reverse;
					row-gap: 3.125rem;
				}

			}

		}

		&-collection {
			padding-top: 6.25rem;
			padding-bottom: 6.25rem;

			&_top {
				display: none;
			}

			.bx {
				flex: 0 0 percentage(1 / 2);
				max-width: percentage(1 / 2);

				&:first-child {
					flex: 0 0 percentage(1 / 2);
					max-width: percentage(1 / 2);
					order: 1;
					margin-bottom: 0;
				}

				&-top {
					display: block;
				}

			}

			&_arr {
				bottom: 2.25rem;
			}

			&_slide {

				.txt {
					font-size: 1.125rem;

					p {
						margin: 0 0 1.875rem;
					}

				}

			}

		}

		&-selection {
			padding-top: 6.25rem;
			padding-bottom: 6.25rem;

			&_block {
				padding-top: 2.5rem;
			}

		}
		
		&-section {
			padding-bottom: 3.125rem;
		}

		&-galery {
			padding-top: 3.125rem;
			padding-bottom: 3.125rem;

			&_block {
				padding-top: 2.5rem;
			}

		}

		&-carving {
			padding-bottom: 3.125rem;

			.bx {
				flex: 0 0 percentage(.4 / 1);
				max-width: percentage(.4 / 1);

				&:first-child {
					flex: 0 0 percentage(.51 / 1);
					max-width: percentage(.51 / 1);
					margin-bottom: 0;
				}

				&:last-child {
					padding-left: 2.5rem;
					border-left: 1px solid #dfdfdf;
				}

			}

		}

		&-install {
			padding-bottom: 3.125rem;

			.bx {
				flex: 0 0 percentage(1 / 2);
				max-width: percentage(1 / 2);
	
				&:first-child {
					flex: 0 0 percentage(.4 / 1);
					max-width: percentage(.4 / 1);
					margin-bottom: 0;
				}
	
				&:last-child {
					padding-left: 3.125rem;
					border-left: 1px solid #dfdfdf;
				}
	
			}

		}

		&-contact {
			padding-bottom: 4.375rem;

			&_block {
				padding-top: 4.375rem;
			}

		}

		&-about {

			.bx {
				flex: 0 0 percentage(.44 / 1);
				max-width: percentage(.44 / 1);
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				&:first-child {
					flex: 0 0 percentage(.56 / 1);
					max-width: percentage(.56 / 1);
					order: 1;
					margin-bottom: 0;
				}
			}

			&_bottom {
				display: none;
			}

			&_img {
				display: block;
			}

		}

		&-stuff {
			padding-bottom: 4.375rem;

			&_block {
				padding-top: 4.75rem;
			}

			&_bottom {
				padding-top: 4.75rem;

				.box {
					flex: 0 0 percentage(1 / 2);
					max-width: percentage(1 / 2);
				}

			}

		}

	}

	.right {

		&-block {

			.bx {
				flex: 0 0 percentage(1 / 2);
				max-width: percentage(1 / 2);
			}

		}

	}

	.popup {

		&-flex {
			padding: 0 6.25rem;
		}

	}

}

@include sz(min860) {

	.main {

		&-top {

			&_block {

				.ttl {
					max-width: initial;
				}

			}

		}

		&-production {

			.txt {
				font-size: 1.125rem;
			}

		}

		&-section {

			.bx {

				&:first-child {
					flex: 0 0 percentage(.55 / 1);
					max-width: percentage(.55 / 1);
				}

				&:last-child {
					display: block;
				}

			}

			&_table  {
				margin-right: -1.25rem;
				margin-left: -1.25rem;

				table {

					tbody {

						td {
							padding-left: 1.25rem;
						}

					}

				}

			}

		}

		&-galery {

			&_slider {

				.item {
					padding-left: 0.9375rem;
					padding-right: 0.9375rem;

					&.slick-active {

						&::before {
							opacity: 1;
						}
	
					}
	
					&::before {
						@include pseudo();
						width: 100%;
						max-width: 405px;
						height: 185px;
						background-color: #EC6A4F;
						bottom: -0.9375rem;
						left: -0.9375rem;
						@include transition(all, .4s, ease-in, 0s);
						opacity: 0;
					}

				}

				.slick-list {
					margin-right: -16vw;
					padding-right: 16vw;
					padding-bottom: 0.9375rem;
				}

			}

		}

		&-show {
			display: none;
		}

		&-box {

			&_slider {

				.block {
					bottom: 3.75rem;

					.page__wrap {
						padding-left: 0.9375rem;
					}

				}

			}

		}

		&-carving {

			.txt {
				font-size: 1.125rem;
			}

			.ttl {
				font-size: 1.5rem;
			}

		}

		&-install {

			.txt {
				font-size: 1.125rem;
			}

			.info, .desc {
				font-size: 1.0625rem;
			}

		}

		&-contact {

			.bx {

				&:first-child {
					flex: 0 0 percentage(.4 / 1);
					max-width: percentage(.4 / 1);
					margin-bottom: 0;
				}

				&:last-child {
					display: flex;
					flex-wrap: wrap;
					flex: initial;
					max-width: initial;
				}

			}

			.txt {
				font-size: 1.125rem;
				max-width: 426px;
			}

			.item {
				padding-left: 1.875rem;
			}

			.video {
				margin-bottom: 0;
			}

		}

		&-about {

			.txt {
				font-size: 1.125rem;

				p {
					margin: 0 0 1.875rem;
				}

			}

		}

		&-delivery {

			.bx {
				flex: 0 0 percentage(.51 / 1);
				max-width: percentage(.51 / 1);
				
				&:first-child {
					flex: 0 0 percentage(.46 / 1);
					max-width: percentage(.46 / 1);
					margin-bottom: 0;
				}

			}

			.txt {
				font-size: 1.125rem;

				p {
					margin: 0 0 1.875rem;
				}

			}

			h1 {
				margin-bottom: 2.5rem;
			}

			.map {
				margin-left: 0;
				margin-right: 0;
				min-height: 500px;
			}

		}

		&-stuff {

			.bx {
				flex: 0 0 percentage(.4 / 1);
				max-width: percentage(.4 / 1);

				&:first-child {
					flex: 0 0 percentage(1 / 2);
					max-width: percentage(1 / 2);
					margin-bottom: 0;
				}

				&:last-child {
					padding-left: 1.875rem;
					border-left: 1px solid #dfdfdf;
				}

			}

			.txt {
				font-size: 1.125rem;

				p {
					margin: 0 0 1.875rem;
				}

			}

			.subttl {
				font-size: 1.125rem;
				margin-bottom: 1.875rem;
			}

			&_block {

				h2 {
					margin-bottom: 1.875rem;
				}

				.box {
					flex: 0 0 percentage(.31 / 1);
					max-width: percentage(.31 / 1);

					&:first-child {
						flex: 0 0 percentage(.69 / 1);
						max-width: percentage(.69 / 1);
						margin-bottom: 0;
					}

					&:last-child {
						padding-left: 3.75rem;
					}

				}

			}

			&_link {
				display: block;
				margin-left: 0;
				margin-right: 0;
				row-gap: initial;

				a {
					padding-left: 0;
					padding-right: 0;
					flex: initial;
					max-width: initial;
					font-size: 1.25rem;

					&:not(:last-child) {
						margin-bottom: 1.25rem;
					}

				}

			}

		}

	}

	.list {

		li {
			font-size: 1.125rem;
		}

	}

	.modal {

		&-block {
			padding: 4.75rem 4.375rem 4.375rem;

			.txt {
				font-size: 1.0625rem;
			}

			.phone {

				a {
					font-size: 1.325rem;
				}

			}

		}

		&-map {
			min-height: 426px;
		}

	}

	.cart {

		&-selection {

			&_img {

				.shield {
					bottom: 1.875rem;
					min-width: 178px;
					padding-left: 1.5rem;
					padding-right: 4.375rem;

					&_name {
						font-size: 0.875rem;
					}

				}

			}

			a {

				.name {
					font-size: 1.625rem;
				}

				.price {
					font-size: 1rem;
				}

			}

		}

		&-view {

			.name {
				font-size: 1.25rem;
			}

			.info {
				font-size: 1.0625rem;
			}

		}

	}

	.right {

		.info {
			font-size: 1.125rem;
		}

	}

}

@include sz(min992) {

	.header {

		&-top {

			.selection {
				display: inline-block;
				vertical-align: middle;
				margin-right: 1.25rem;
	
				a {
					display: inline-block;
					position: relative;
					text-decoration: none;
					line-height: 1;
	
					svg {
						fill: #000;
						@include transition(all, .4s, ease-in, 0s);
					}
	
					span {
						position: absolute;
						display: grid;
						width: 1.125rem;
						height: 1.125rem;
						place-items: center;
						@include bRadius(50%);
						color: #fff;
						background-color: #F26B47;
						font-weight: 700;
						font-size: 0.6875rem;
						left: 0;
						bottom: 0;
					}
	
				}
	
			}
	
			.search {
				display: inline-block;
				vertical-align: middle;
	
				a {
					text-decoration: none;
					display: inline-block;
					line-height: 1;
	
					svg {
						fill: #000;
						@include transition(all, .4s, ease-in, 0s);
					}
	
				}
	
			}

		}

		&-burger {
			margin-left: 0.9375rem;
		}

	}

	.footer {

		&-top {
			padding: 3.75rem 0 4.375rem;

			.item {
				display: inline-block;
				vertical-align: text-top;

				&-db {
					display: block;
				}

				&-box {
					display: none;
				}

				&:first-child {
					margin-right: 1.875rem;
					margin-bottom: 0;
				}

			}

			.bx {
				padding-top: 0;
				padding-bottom: 0;
			}

		}

	}

	.main {

		&-top {

			&_block {

				.block {
					margin-left: 2.125rem;
				}

			}

		}

		&-collection {

			.bx {

				&:first-child {
					flex: 0 0 percentage(.47 / 1);
					max-width: percentage(.47 / 1);
				}

			}

			&_slider {

				.block {

					&_info {
						padding-left: 2.25rem;
						padding-right: 2.25rem;

						.name {
							font-size: 1.875rem;
						}

						.total {
							font-size: 0.9375rem;
						}

					}

				}

			}

		}

		&-contact {

			.bx {

				&:last-child {
					padding-left: 1.875rem;
					border-left: 1px solid #dfdfdf;
				}

			}

		}

		&-delivery {

			.bx {

				&:first-child {
					flex: 0 0 percentage(.42 / 1);
					max-width: percentage(.42 / 1);
				}

			}

		}

		&-stuff {

			.bx {
				flex: 0 0 percentage(.31 / 1);
				max-width: percentage(.31 / 1);

				&:first-child {
					flex: 0 0 percentage(.59 / 1);
					max-width: percentage(.59 / 1);
				}

				&:last-child {
					padding-left: 3.125rem;
				}

			}

		}

	}

	.arrow {
		width: 2.625rem;
		height: 2.625rem;
	}

}

@include sz(min1100) {

	.footer {

		&-top {

			.item {

				&:first-child {
					margin-right: 5rem;
				}

			}

			.nav {
				margin-left: 3.75rem;
			}

		}

	}

	.main {

		&-collection {

			.bx {
				flex: 0 0 percentage(.48 / 1);
				max-width: percentage(.48 / 1);

				&:first-child {
					flex: 0 0 percentage(.44 / 1);
					max-width: percentage(.44 / 1);
				}

			}

		}

		&-selection {

			&_slider {

				.item {
					padding-right: 2.5rem;
				}

			}

		}

		&-contact {

			.bx {

				&:last-child {
					padding-left: 3.125rem;
				}

			}

			.item {
				padding-left: 3.125rem;
			}

		}

	}

	.cart {

		&-stuff {

			.sub {
				font-size: 1.25rem;
				top: 1.5rem;
				right: 1.5rem;
			}

			&_center {

				.name {
					font-size: 1.875rem;
				}

				.total {
					font-size: 2.8125rem;
				}

			}

		}

	}

}

@include sz(min1200) {

	.header {
		
		.page__wrap {
			padding-left: 0.9375rem;
		}

		&-top {
			background-color: transparent;
			border-bottom: none;
	
			.selection {
	
				a {
	
					svg {
						fill: #fff;
						@include transition(all, .4s, ease-in, 0s);
					}
	
				}
	
			}
	
			.search {
	
				a {
	
					svg {
						fill: #fff;
						@include transition(all, .4s, ease-in, 0s);
					}
	
				}
	
			}
	
			.logo {
	
				svg {
	
					.path {
						fill: #fff;
						@include transition(all, .4s, ease-in, 0s);
					}
	
				}
	
			}
	
			.call {
	
				a {
	
					svg {
						fill: #fff;
						@include transition(all, .4s, ease-in, 0s);
					}
	
				}
	
			}

		}

		&-nav {
			display: block;
		}

		&:hover {
			background-color: #fff;
	
			.header {
	
				&-top {
					border-bottom: 1px solid #DFDFDF;
	
					.logo {
	
						svg {
	
							.path {
								fill: #F26B47;
							}
	
						}
	
					}
	
					.search {
	
						a {
	
							svg {
								fill: #000;
							}
	
						}
	
					}
	
					.selection {
	
						a {
	
							svg {
								fill: #000;
							}
	
						}
	
					}
	
					.phone {
	
						a {
							color: #000;
						}
	
					}
	
					.call {
	
						a {
	
							svg {
								fill: #000;
							}
	
						}
	
					}
	
				}
	
				&-nav {
	
					ul {
	
						li {
	
							a {
								color: #000;
							}
	
						}
	
					}
	
				}
	
			}
	
		}
	
		&.fix {
			background-color: #fff;
	
			.header {
	
				&-top {
					border-bottom: 1px solid #DFDFDF;
	
					.logo {
	
						svg {
	
							.path {
								fill: #F26B47;
							}
	
						}
	
					}
	
					.search {
	
						a {
	
							svg {
								fill: #000;
							}
	
						}
	
					}
	
					.selection {
	
						a {
	
							svg {
								fill: #000;
							}
	
						}
	
					}
	
					.phone {
	
						a {
							color: #000;
						}
	
					}
	
					.call {
	
						a {
	
							svg {
								fill: #000;
							}
	
						}
	
					}
	
				}
	
				&-nav {
	
					ul {
	
						li {
	
							a {
								color: #000;
							}
	
						}
	
					}
	
				}
	
			}
	
		}

		&-burger {
			display: none;
		}

	}

	.main {

		&-collection {

			.bx {
				flex: 0 0 percentage(.48 / 1);
				max-width: percentage(.48 / 1);

				&:first-child {
					flex: 0 0 percentage(.44 / 1);
					max-width: percentage(.44 / 1);
				}

				&-top {
					margin-bottom: 0;
				}

			}

			&_head {
				display: block;
			}

		}

		&-section {

			&_icon {
				margin-left: 0;
				margin-right: 0;
				gap: 1.875rem;
				row-gap: initial;

				.icon {
					flex: initial;
					max-width: initial;
					padding-left: 0;
					padding-right: 0;
				}

			}

		}

		&-indent {
			padding-top: 0!important;
		}

		&-carving {

			.bx {
				flex: 0 0 percentage(.3 / 1);
				max-width: percentage(.3 / 1);
			}

		}

		&-contact {

			.bx {

				&:first-child {
					flex: 0 0 percentage(.47 / 1);
					max-width: percentage(.47 / 1);
				}

			}

		}

	}

	.left {
		flex: 0 0 percentage(.22 / 1);
		max-width: percentage(.22 / 1);
		position: relative;
		width: initial;
		height: initial;
		z-index: initial;
		opacity: 1;
		visibility: visible;

		&-sticky {
			position: sticky;
			top: 4.375rem;
			bottom: 3.75rem;
		}

		&-overflow {
			display: none;
		}

		&-wrap {
			position: relative;
			@include transform(0, 0);
			top: initial;
			right: initial;
			width: initial;
			max-width: initial;
			background-color: transparent;
		}

		&-filter {
			height: initial;
		}

	}

	.right {
		flex: 0 0 percentage(.76 / 1);
		max-width: percentage(.76 / 1);

		&-filter {
			display: none;
		}

		&-block {

			.d-flex {
				margin-left: -1.25rem;
				margin-right: -1.25rem;
				row-gap: 2.5rem;
			}

			.bx {
				padding-left: 1.25rem;
				padding-right: 1.25rem;
			}

		}

	}

	.form {

		&-filter {
			height: initial;

			&_top {
				padding-left: 0;
				padding-right: 0;

				.back {
					display: none;
				}

			}

			&_btn {
				display: none;
			}

			&_flex {
				display: block;
				height: initial;
			}

			&_bx {

				&:first-child {
					margin-bottom: 0;
				}

			}
			
		}

	}

	.accordion {

		&-name {
			padding-left: 0;
			padding-right: 1rem;
		}

		&-plus {
			right: 0;
		}

		&-body {
			padding-left: 0;
			padding-right: 0;
		}

	}

}

@include sz(min1280) {

	.header {

		&-top {
			padding: 0 0;
		}

	}

	.main {

		&-prj {
			display: block;
		}

	}

	.tooltip {
		position: relative;
		display: inline-block;

		&:hover {

			&::before, &::after {
				opacity: 1;
				visibility: visible;
			}
	
		}
	
		&::before, &::after {
			@include transition(all, .4s, ease-in, 0s);
			opacity: 0;
			visibility: hidden;
			@include pseudo();
		}
	
		&::before {
			background-color: #fff;
			min-width: 151px;
			padding: 0.75rem 1.875rem;
			text-align: center;
			font-weight: 300;
			font-size: 0.6875rem;
			content: attr(data-txt);
			filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.08));
			margin: 0 auto;
			right: 50%;
			@include transform(50%, 0);
		}
	
		&-t {
	
			&::before {
				top: -3.75rem;
			}
	
			&::after {
				border-left: 7px solid transparent;
				border-right: 7px solid transparent;
				border-top: 10px solid #fff;
				filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.08));
				top: -0.625rem;
				left: 50%;
				@include transform(-50%, 0);
			}
	
		}
	
		
	}

}

@include sz(min1366) {

	.main {
		padding-top: 6.4375rem;

		&-production {

			.bx {

				.block {
					margin-bottom: 3.125rem;
				}

				&:first-child {

					.block {
						margin-bottom: 6.4375rem;
					}

				}

			}

		}

		&-about {

			h1 {
				margin-bottom: 2.5rem;
			}

			.block {
				margin-bottom: 3.75rem;
			}

		}

	}

	.header {

		&-top {

			.call {
				display: none;
			}

			.phone {
				display: inline-block;
				vertical-align: middle;
				margin-right: 1.25rem;

				a {
					font-weight: 600;
					font-size: 1.0625rem;
					letter-spacing: 0.34px;
					@include transition(all, .4s, ease-in, 0s);
					color: #fff;
				}

			}

		}

		&-nav {

			ul {

				li {

					a {
						padding: 2.75rem 0;
					}

				}

			}

		}

	}

	.left {
		flex: 0 0 percentage(.19 / 1);
		max-width: percentage(.19 / 1);
	}

	.nav-catalog {

		&_body {
			padding-top: 3.125rem;
			height: calc(100% - 104px);
		}

		&_head {
			padding: 1.5rem 1.875rem;
		}

		.name {
			margin-bottom: 1.875rem;
		}

		&_flex {

			.box {
				padding-left: 3.125rem;
				padding-right: 3.125rem;
			}

			ul {

				li {

					&:not(:last-child) {
						margin-bottom: 1.5rem;
					}

					a {
						font-size: 1.25rem;
					}

				}

			}

		}

		&_box {

			&.nav {

				.lev {
					padding-top: 14.625rem;
					padding-left: 3.125rem;
					padding-right: 3.125rem;

					li {

						&:not(:last-child) {
							margin-bottom: 1.5rem;
						}

						a {
							font-size: 1.25rem;
						}

					}

				}

			}

		}

	}

}

@include sz(min1440) {

	.main {

		&-section {

			.bx {

				&:first-child {
					flex: 0 0 percentage(.45 / 1);
					max-width: percentage(.45 / 1);
				}

			}

		}

	}

}

@include sz(min1600) {

	.header {

		&-nav {

			ul {
				gap: 1.4375rem;
			}

		}

		&-top {

			.phone {
				margin-right: 1.625rem;
			}

			.logo {

				svg {
					width: initial;
				}
	
			}
			
		}

	}

	.main {

		&-production {

			.d-flex {
				margin-left: -3.125rem;
				margin-right: -3.125rem;
			}

			.bx {
				padding-left: 3.125rem;
				padding-right: 3.125rem;
			}

		}

		&-collection {

			.d-flex {
				margin-left: -3.125rem;
				margin-right: -3.125rem;
			}

			.bx {
				padding-left: 3.125rem;
				padding-right: 3.125rem;
			}

			&_slider {
				margin-left: -2.25rem;
            	margin-right: -2.25rem;
			}

		}

		&-prj {

			&_arr {
				right: 7%;
			}

		}

		&-about {

			.d-flex {
				margin-left: -3.125rem;
				margin-right: -3.125rem;
			}

			.bx {
				padding-left: 3.125rem;
				padding-right: 3.125rem;
			}

		}

	}

}