.benefist {
	background-color: #101a23;
	border-top: 5px solid $red-color;
	padding: 70px 0 80px;

	&__title {
		color: $white-color;
		margin-bottom: 60px;
		line-height: 1.25;
		font-weight: 500;
		text-transform: uppercase;

		span {
			display: block;

			@include sz(md) {
				display: inline-block;
			}
		}
	}

	&__block {
		margin-bottom: 30px;
		box-shadow: 1px 2px 3px transparent;
		padding: 20px 15px;
		transition: all .4s;

		&:hover {
			box-shadow: 1px 2px 3px $black-color;
		}
	}

	&__pic {
		position: relative;
		z-index: 1;
	}

	&__name {
		color: $red-color;
		font-size: 20px;
		font-weight: 500;
		margin-top: 15px;
	}

	&__number {
		position: absolute;
		top: 0;
		left: 0;
		font-size: 90px;
		font-weight: 700;
		color: #22394d;
		z-index: -1;
		overflow: hidden;
		height: 70px;
	}

	&__text {
		color: $white-color;
		font-size: 16px;
		font-weight: 300;
		margin-top: 20px;
	}
}
