.contact {
	position: relative;

	&__block {
		height: 400px;
	}


	&__box {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $blue-color;
		width: 45%;
		padding: 100px 30px;

		@include sz(sm) {
			width: 100%;
		}
	}

	&__adress {
		color: $white-color;

	}

	&__title {
		font-size: 20px;
		font-weight: 500;
	}

	&__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}

	&__item {
		font-size: 14px;
		font-weight: 400;
		position: relative;
		padding-left: 40px;
		margin-bottom: 20px;
		line-height: 20px;

		span {
			display: block;
		}
	}

	&__elem1 {

		&:before {
			position: absolute;
			content: "";
			width: 30px;
			height: 30px;
			background-image: url(../img/el-icon-1.png);
			top: 0;
			left: 0;
			background-repeat: no-repeat;
		}
	}

	&__elem2 {

		&:before {
			position: absolute;
			content: "";
			width: 30px;
			height: 30px;
			background-image: url(../img/el-icon-3.png);
			top: 0;
			left: 0;
			background-repeat: no-repeat;
		}
	}
}