.footer {
	padding: 15px 0;
	background-color: $white-color;

	&__block {
		width: 100%;
		display: table;
	}

	&__desc {
		font-size: 18px;
		font-weight: 400;
		color: $blue-color;

		span {
			display: block;
		}
	}

	&__adress {
		font-size: 18px;
		font-weight: 400;
		color: $blue-color;
	}

	&__numb {
		display: block;
		color: $blue-color;

		&:hover, &:focus, &:active {
			color: $blue-color;
		}
	}

	&__button {
		margin-top: 15px;
	}

	&__btn {
		padding: 15px 35px;
		color: $white-color;
		display: inline-block;
		@include border-radius(5px);
		background-color: $red-color;
		text-transform: uppercase;

		&:hover {
			color: $white-color;
		}
	} 
}