.owl-theme {
	
	.owl-dots {

		.owl-dot {
			
			span {
				width: 30px;
				height: 5px;
				margin: 5px 4px;
				background-color: $blue-color;

				@include sz(xs) {
					width: 25px;
				}
			}

			&.active {
				span {
					background-color: $red-color;
				}
			}

			&:hover {
				span {
					background-color: $red-color;
				}
			}

		}

	}

} 

.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 30px;
}
