.reviews {
	padding: 70px 0;

	&__title {
		margin-bottom: 40px;
		text-transform: uppercase;	
		font-weight: 500;
		color: $grey-color;
	}

	&__pic {
		margin: 0 auto 20px;
		border-radius: 100%;
		width: 100px;
		height: 100px;
		overflow: hidden;
		border: 2px solid transparent;
		transition: border .4s ease-out;

		&:hover {
			border-color: $red-color;
		}
	}

	&__box {
		margin-top: 70px;
	}

	&__info {
		line-height: 1;
		font-size: 14px;
		font-weight: 500;
		color: $blue-color;
	}
}