.service {
	padding: 70px 0;

	&__title {
		font-weight: 500;
		color: $grey-color;
		margin-bottom: 30px;
		text-transform: uppercase;

		strong {
			color: $blue-color;

			span {
				color: $red-color;
			}
		}
	}

	&__block {
		overflow: hidden;
		position: relative;
		margin-bottom: 30px;

		&:hover {
			.service__insert {
				transform: translate(0, 0);
			}
		}
	}

	&__desc {
		position: relative;
	}

	&__box {
		left: 0;
		right: 0;
		bottom: 0;
		padding: 5px 0;
		font-size: 14px;
		font-weight: 300;
		position: absolute;
		color: $white-color;
		background-color: $red-color;
	}

	&__insert {
		top: 0;
		left: 0;
		right: 0;
		padding: 20px;
		bottom: -100%;
		font-size: 16px;
		font-weight: 300;
		position: absolute;
		color: $white-color;
		transition: transform .6s;
		background-color: $red-color;
		transform: translate(0, 100%);
	}


	&__button {
		margin-top: 20px;
	}

	&__btn {
		font-size: 16px;
		font-weight: 400;
		padding: 15px 35px;
		color: $white-color;
		display: inline-block;
		@include border-radius(6px);
		background-color: $red-color;
		text-transform: uppercase;

		&:hover, &:focus, &:active {
			color: $white-color;
			text-decoration: none;
		}
	}

	
}