.top {
	background-image: url(../img/top-bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: table;
	width: 100%;

	&__title {
		font-size: 9vw;
		color: $white-color;
		font-weight: 700;
		margin: 0;
		line-height: 1;
		text-transform: uppercase;
	}

	&__h2 {
		color: $white-color;
		font-size: 6vw;
		line-height: 1;
		font-weight: 700;
		text-transform: uppercase;
		margin: 0;
	}

	&__row {
		display: table-row;
	}

	&__cell {
		display: table-cell;
		vertical-align: middle;
	}

	&__price {
		margin-top: 20px;
	}

	&__link {
		display: inline-block;
		background-color: $red-color;
		font-size: 16px;
		text-transform: uppercase;
		padding: 15px 35px;
		font-weight: 400;
		color: $white-color;
		@include border-radius(6px);

		&:hover, &:focus, &:active {
			color: $white-color;
		}
	}
}