$black-color: #000;
$white-color: #f9faf5;
$grey-color: #757778;
$blue-color: #183147;
$red-color: #d4213e;

body {
	background-color: $white-color;
	font-family: 'Roboto', sans-serif;
	line-height: 1.25;
}