@import "mixin";

.offer {
    padding-top: 3.75rem;
    padding-bottom: 3.125rem;

    &-block {
        padding-top: 2.125rem;

        .d-flex {
            margin-left: -0.625rem;
            margin-right: -0.625rem;
        }

        .bx {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            display: grid;
            grid-template-columns: 270px 1fr;
            grid-gap: 1.25rem;
            flex: 0 0 50%;
            max-width: 50%;

            &-gr {
                --col-span: 1;

                &:first-child {
                    grid-row: span 2;

                    .cart-offer {
                        align-items: start;
                        flex-direction: column;
                        justify-content: space-between;

                        .name {
                            text-align: center;
                            width: 100%;
                        }

                        .image {
                            margin-left: -1.875rem;
                            margin-right: -1.25rem;
                            margin-bottom: -1.5rem;
                        }

                    }

                }

                &:not(:first-child) {
                    grid-column: span var(--col-span);
                }

            }

        }

    }

}