@import "mixin";

.reviews {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;

    &-block {
        padding-top: 2.1875rem;
    }

    &-slider {
        margin-left: -0.625rem;
        margin-right: -0.625rem;

        .slick-track {
            display: flex;
        }

        .item {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            height: inherit;
        }

        .arrow {
            position: absolute;
            top: 50%;
            @include transform(translateY(-50%));

            &-prev {
                left: -0.625rem;
            }

            &-next {
                right: -0.625rem;
            }

            &.slick-disabled {
                opacity: 0;
                visibility: hidden;
            }

        }

        .slick-dots {

            li {
                width: 18px;
                height: 3px;
                margin: 0 3px;

                &.slick-active {

                    button {
                        background-color: #2B2A29;
                    }

                }

                button {
                    width: 18px;
                    height: 3px;
                    @include bRadius(100px);
                    background-color: #F5F5F5;
                    @include transition(all, .4s, ease-in, 0s);
                    padding: 0;
                    opacity: 1;

                    &::before {
                        content: none;
                    }

                }

            }

        }

    }

}