.header {
	padding: 40px 0;
	transform: translate(0,0);
	transition: transform .4s ease;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 2;

	&__logo {
		display: table;
		width: 142px;
		height: 17px;
		float: left;
		margin-top: 6px;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	&__dark {
		.header__logo {
			background-image: url(../img/head-logo-white.png);
		}

		.nav__letter {
			color: #fff;
		}

		.nav__line {
			background-color: #fff;
		}

		&.header__fixed {
			background: rgba(0, 0, 0, 0.6);
		}
	}

	&__light {
		.header__logo {
			background-image: url(../img/head-logo.png);
		}

		&.header__fixed {
			background: rgba(255, 255, 255, 0.6);
		}
	}

	&__fixed {
		z-index: 2;
		box-shadow: 0 1px 30px #ddd;
		padding: 15px 0;
	}
}