.scroll {

	&__bottom {
		position: absolute;
		bottom: 50px;
		text-align: center;
		left: 0;
		right: 0;
		
	}

	&__mouse {
		display: inline-block;
		padding: 10px 20px;

		img {
			animation: sdb 1.5s infinite;
		}
	}
}

@keyframes sdb {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: translate(0, 20px);
		opacity: 0;
	}
}