.uniks {
	background-image: url(../img/uniks-bg.jpg);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: cover;
	position: relative;

	&__block {
		height: 100%;
		flex-direction: column;
	}

	&__text {
		color: #fff;
		line-height: 1.25;
		padding-left: 10px;
		align-self: center;
		padding-right: 10px;
		font: 300 42px 'Gilroy';

		span {
			display: block;
		}
	}

	&__button {
		text-align: center;
		margin-top: 30px;
	}

	&__btn {
		z-index: 1;
		color: #fff;
		line-height: 1;
		overflow: hidden;
		position: relative;
		padding: 17px 50px;
		border-radius: 50px;
		display: inline-block;
		font: 500 15px 'Gilroy';
		border: 1px solid #808885;
		transition: all 0.4s linear;
		
		&:hover {
			color: #fff;
			
			.uniks__high {
				width: 250px;
				height: 250px;
			}

		}

	}

	&__high {
		top: 50%;
		left: 50%;
		width: 0;
		height: 0;
		z-index: -10;
		display: block;
		position: absolute;
		border-radius: 50%;
		transition: all 0.4s linear;
		transform: translate(-50%, -50%);
		background-color: rgba(255, 255, 255, .45);
	}

	&-section {

		&__desc {
			box-shadow: 0 0 30px 0 rgba(0, 0, 0, .75);
		}

		&__task {
			max-width: 660px;
			padding-top: 100px;
			padding-left: 100px;
			float: left;

			@include sz(average) {
				padding-top: 50px;
				padding-left: 30px;
				margin-right: 40px;
			}
		}

		&__name {
			color: #000;
			line-height: 1;
			margin-bottom: 30px;
			font: 300 36px 'Gilroy';
		}

		&__text {
			color: #000;
			line-height: 1.25;
			margin-bottom: 25px;
			font: 300 16px 'Gilroy';
		}

		&__item {
			position: relative;
			padding-left: 20px;
			margin-bottom: 10px;

			&:before {
				left: 0;
				top: 5px;
				width: 7px;
				content: "";
				height: 7px;
				position: absolute;
				border-radius: 50%;
				background-color: #c81818;
			}
		}
	}
}


.sidebar{
    will-change: min-height;
}

.sidebar__inner{
    transform: translate(0, 0);
    transform: translate3d(0, 0, 0);
    will-change: position, transform;
}