

.cd-headline.clip .cd-words-wrapper {
    display: inline-block;
    position: relative;
    text-align: left;
}
.bct-text {
    color: #000;
}
.cd-headline.clip {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
}
.cd-words-wrapper b {
    display: inline-block;
    position: absolute;
    white-space: nowrap;
    font: 300 42px 'Gilroy';
    left: 0;
    top: 0;
}

.cd-words-wrapper b.is-visible {
    position: relative;
    color: #000;
}

.no-js .cd-words-wrapper b {
    opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
    opacity: 1;
}

/* xclip */
.cd-headline.clip span {
    display: inline-block;
    padding: .2em 0;
}

.cd-headline.clip .cd-words-wrapper {
    overflow: hidden;
    vertical-align: top;
}

.cd-headline.clip .cd-words-wrapper::after {
    /* line */
    content: '';
    position: absolute;
    top: 10%;
    right: 0;
    width: 2px;
    height: 70%;
    background-color: #000;
}

.cd-headline.clip b {
    opacity: 0;
}

.cd-headline b.is-visible {
    opacity: 1;
}
