@font-face {
    font-family: 'Greta Dis Nar Pro Lig';
    src: url('GretaDisNarProLigIta.eot');
    src: url('GretaDisNarProLigIta.eot?#iefix') format('embedded-opentype'),
        url('GretaDisNarProLigIta.woff2') format('woff2'),
        url('GretaDisNarProLigIta.woff') format('woff'),
        url('GretaDisNarProLigIta.ttf') format('truetype'),
        url('GretaDisNarProLigIta.svg#GretaDisNarProLigIta') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Dis Nar Pro Med';
    src: url('GretaDisNarProMedIta.eot');
    src: url('GretaDisNarProMedIta.eot?#iefix') format('embedded-opentype'),
        url('GretaDisNarProMedIta.woff2') format('woff2'),
        url('GretaDisNarProMedIta.woff') format('woff'),
        url('GretaDisNarProMedIta.ttf') format('truetype'),
        url('GretaDisNarProMedIta.svg#GretaDisNarProMedIta') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Dis Nar Pro Reg';
    src: url('GretaDisNarProReg.eot');
    src: url('GretaDisNarProReg.eot?#iefix') format('embedded-opentype'),
        url('GretaDisNarProReg.woff2') format('woff2'),
        url('GretaDisNarProReg.woff') format('woff'),
        url('GretaDisNarProReg.ttf') format('truetype'),
        url('GretaDisNarProReg.svg#GretaDisNarProReg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Dis Nar Pro Bol';
    src: url('GretaDisNarProBol.eot');
    src: url('GretaDisNarProBol.eot?#iefix') format('embedded-opentype'),
        url('GretaDisNarProBol.woff2') format('woff2'),
        url('GretaDisNarProBol.woff') format('woff'),
        url('GretaDisNarProBol.ttf') format('truetype'),
        url('GretaDisNarProBol.svg#GretaDisNarProBol') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Dis Nar Pro Med';
    src: url('GretaDisNarProMed.eot');
    src: url('GretaDisNarProMed.eot?#iefix') format('embedded-opentype'),
        url('GretaDisNarProMed.woff2') format('woff2'),
        url('GretaDisNarProMed.woff') format('woff'),
        url('GretaDisNarProMed.ttf') format('truetype'),
        url('GretaDisNarProMed.svg#GretaDisNarProMed') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Dis Nar Pro Reg';
    src: url('GretaDisNarProRegIta.eot');
    src: url('GretaDisNarProRegIta.eot?#iefix') format('embedded-opentype'),
        url('GretaDisNarProRegIta.woff2') format('woff2'),
        url('GretaDisNarProRegIta.woff') format('woff'),
        url('GretaDisNarProRegIta.ttf') format('truetype'),
        url('GretaDisNarProRegIta.svg#GretaDisNarProRegIta') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Gra Dis Pro Lig';
    src: url('GretaDisNarProLig.eot');
    src: url('GretaDisNarProLig.eot?#iefix') format('embedded-opentype'),
        url('GretaDisNarProLig.woff2') format('woff2'),
        url('GretaDisNarProLig.woff') format('woff'),
        url('GretaDisNarProLig.ttf') format('truetype'),
        url('GretaDisNarProLig.svg#GretaDisNarProLig') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Greta Dis Nar Pro Bol';
    src: url('GretaDisNarProBolItal.eot');
    src: url('GretaDisNarProBolItal.eot?#iefix') format('embedded-opentype'),
        url('GretaDisNarProBolItal.woff2') format('woff2'),
        url('GretaDisNarProBolItal.woff') format('woff'),
        url('GretaDisNarProBolItal.ttf') format('truetype'),
        url('GretaDisNarProBolItal.svg#GretaDisNarProBolItal') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

