.basket {
  padding-bottom: 4.375rem;
}
.basket .d-flex {
  margin-left: -6px;
  margin-right: -6px;
}
.basket .bx {
  padding-left: 6px;
  padding-right: 6px;
  flex: 0 0 26%;
  max-width: 26%;
}
.basket .bx:first-child {
  flex: 0 0 74%;
  max-width: 74%;
}
.basket-box {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.0509803922);
  height: 100%;
  padding-top: 2.125rem;
  padding-left: 2.125rem;
  padding-right: 2.125rem;
  padding-bottom: 2.125rem;
}
.basket-box .ttl {
  color: #C5904F;
  font-weight: normal;
  font-size: 1.75rem;
  font-family: "Greta Dis Nar Pro Reg", sans-serif;
  line-height: 0.8;
  margin-bottom: 0.75rem;
}
.basket-box_gr {
  background-color: #F7F7F7;
  position: relative;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.basket-box_gr:not(:first-child) {
  margin-top: 6px;
}
.basket-box_gr .img {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.basket-box_gr .box-gr {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.basket-box_gr .box-fl {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}
.basket-box_gr .box-top {
  display: flex;
  -moz-column-gap: 2.8125rem;
       column-gap: 2.8125rem;
}
.basket-box_gr .box-top .price {
  color: #1B1A1B;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.05;
}
.basket-box_gr .box-top .price span {
  display: block;
  font-size: 0.875rem;
  color: rgba(27, 26, 27, 0.5);
  margin-top: 6px;
}
.basket-box_gr .box .name {
  color: #1B1A1B;
  line-height: 1.05;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 6px;
}
.basket-box_gr .box .gr-total {
  color: rgba(27, 26, 27, 0.5);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.05;
}
.basket-box_gr .box .del {
  text-decoration: none;
  display: inline-block;
  color: rgba(27, 26, 27, 0.5);
  font-weight: 500;
  font-size: 1rem;
}
.basket-box_fl {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 2rem;
}
.basket-box .group-price {
  color: #1B1A1B;
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.basket-box .group ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.basket-box .group ul li {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.05;
  color: rgba(27, 26, 27, 0.5);
}
.basket-box .group ul li:not(:first-child) {
  margin-top: 8px;
}
.basket-box .group-btn {
  border-bottom: 1px solid rgba(27, 26, 27, 0.2);
}
.basket-box .group-btn .page-btn {
  max-width: 100%;
  margin-bottom: 0.75rem;
  height: 56px;
}
.basket-box .group .desc {
  margin-top: 0.75rem;
  color: rgba(27, 26, 27, 0.4);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.05rem;
  letter-spacing: -0.2px;
  max-width: 254px;
}/*# sourceMappingURL=basket.css.map */