.footer {
	position: relative;
	background: linear-gradient(42.91deg, #7390A1 -6.07%, #445561 65.27%);
	padding-top: 17px;
	padding-bottom: 20px;
	overflow: hidden;

	.page-wrap {
		max-width: 100%;
		padding-left: 50px;
		padding-right: 50px;
	}

	.coopyright {
		color: #fff;
		font-weight: normal;
		font-size: 18px;
	}

	.d-flex {
		justify-content: space-between;
		margin-left: -3px;
		margin-right: -3px;
	}

	span {
		display: block;
		color: #fff;
		font-weight: normal;
		font-size: 18px;
		margin-bottom: 10px;
	}

	b {
		color: #fff;
		font-weight: 600;
		font-size: 18px;
		margin-bottom: 10px;
		display: block;
	}

	a {
		color: #fff;
		font-weight: 600;
		font-size: 18px;
		text-decoration: none;
		display: block;
		margin-bottom: 10px;
	}

	ul {
		color: #fff;
		font-weight: normal;
		padding-left: 24px;
		column-gap: 100px;

		&.column-3 {
			column-count: 3;
		}

		li {
			margin-bottom: 10px;

			a {
				font-weight: normal;
				margin-bottom: 0;				
			}

		}

	}

	.address {
		color: #fff;
		font-weight: normal;
		font-size: 18px
	}

	.phone {

		a {
			color: #fff;
			font-weight: normal;
			font-size: 18px;

			i {
				font-style: normal;
			}

		}

	}

	.email {

		i {
			font-style: normal;
			font-weight: normal;
		}

	}

	.bx {
		flex-basis: calc(40% / 3);
		padding-left: 3px;
		padding-right: 3px;

		&:not(:first-child) {
			padding-top: 57px;
		}
		
		&:nth-child(3) {
			order: 1;
		}

		&:last-child {
			flex-basis: 60%;
		}

	}


}