.header {
	// background-color: #eee;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	@include transition(all, .24s, linear, 0s);

	&.fix {
		@include transform(translateY(-100%));
	}


	.page-wrap {
		max-width: 1670px;
	}

	.d-flex {
		justify-content: center;
	}

	.bx {
		display: none;
	}

	.logo {
		padding-top: 38px;
		max-width: 150px;
	}
	
	.nav {
		padding: 0;
		margin: 0;
		list-style-type: none;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 1.125rem;

		> li {

			&.drop {

				&:hover {

					> a {

						&::after {
							@include transform(translateY(-50%) rotateX(180deg));
						}

					}

				}

				> a {
					padding-right: 2.635rem;

					&::after {
						@include pseudo($content: url(../img/icon/drop-down-icon.svg));
						top: 67%;
						right: 0;
						@include transform(translateY(-50%) rotateX(0));
						@include transition(all, .4s, ease-in, 0s);
						line-height: 0;
					}

				}

			}

			&:hover {

				> a {
					color: #ED1C24;
				}

				> div {
					opacity: 1;
					visibility: visible;
				}

			}

			> a {
				text-decoration: none;
				display: inline-block;
				position: relative;
				color: #3B4851;
				font-size: 1rem;
				padding-top: 4rem;
				padding-bottom: 2rem;
				@include transition(all, .4s, ease-in, 0s);
			}

		}

	}

	.light {

		> li {

			> a {
				color: #fff;
			}

		}

	}

	&-subnav {
		position: absolute;
		padding-left: 17px;
		padding-top: 4px;
		padding-bottom: 4px;
		border-left: 1px solid #ED1C24;
		@include transition(all, .4s, ease-in, 0s);
		opacity: 0;
		visibility: hidden;

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {

				&:not(:last-child) {
					margin-bottom: 10px;
				}

				a {
					font-size: 16px;
					text-decoration: none;
					display: block;
					color: #3B4851;
				}

			}

		}

	}

	.page-btn {
		min-width: 180px;
	}

	&-burger {
		width: 1.75rem;
		height: 1.25rem;
		text-decoration: none;
		display: inline-block;
		position: absolute;
		left: 15px;
		top: 30px;

		&::before, &::after {
			@include pseudo();
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #3B4851;
		}

		&::before {
			top: 0;
		}

		&:after {
			bottom: 0;
		}

		span {
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #3B4851;
			@include transform(translateY(-50%));
		}

	}
}

.logo {
	text-decoration: none;
	display: inline-block;
}