@import "mixin";

.history {
    position: relative;
    background: linear-gradient(26.76deg, #E5EAED 58.78%, rgba(255, 255, 255, 0) 96.63%);
    padding-top: 17.75rem;
    padding-bottom: 7.75rem;
    overflow: hidden;

    .vector {
        position: absolute;

        &:first-child {
            bottom: 0;
            right: -10%;
        }

        &:nth-child(2) {
            top: 0;
            right: 10%;
        }

        &:nth-child(3) {
            top: 0;
            left: -7%;
        }

    }

    .page-wrap {
		max-width: 1670px;
	}

    .d-flex {
        margin-left: -15px;
        margin-right: -15px;
    }

    .bx {
        padding-left: 15px;
        padding-right: 15px;
        flex-basis: 43%;

        &:first-child {
            flex-basis: 48%;
        }

    }

    .block {
        padding-top: 1.875rem;

        p {
            margin: 0 0 15px;
            color: #445561;
            font-weight: 400;
            font-size: 24px;

            b {
                color: #000;
                font-weight: 600;
            }

            &:last-child {
                margin-bottom: 0;
            }

        }

        &-img {
            position: relative;

            .image {

                &:nth-child(2) {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: end;
                    margin-top: -6%;
                }

                &:nth-child(3) {
                    margin-top: -20%;
                }

                &:last-child {
                    margin-top: -5%;
                    margin-right: -4vw;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: end;
                }

            }

        }

    }

}