@import "mixin";

.production {
    position: relative;
    background: linear-gradient(26.76deg, #E5EAED 58.78%, rgba(255, 255, 255, 0) 96.63%);
    padding-top: 15.875rem;
    padding-bottom: 7.75rem;
    overflow: hidden;

    .vector {
        position: absolute;

        &:first-child {
            right: 0;
            bottom: 0;
        }

        &:nth-child(2) {
            top: 0;
            right: 19%;
        }

        &:nth-child(3) {
            left: 0;
            bottom: -40%;
        }

    }

    .txt {
        color: #445561;
        font-weight: normal;
        font-size: 1.5rem;
        margin-top: 1.875rem;

        p {
            margin: 0 0 15px;

            &:last-child {
                margin-bottom: 0;
            }

        }

    }

    .page-wrap {
		max-width: 1670px;
	}

    .d-flex {
        margin-left: -15px;
        margin-right: -15px;
    }

    .bx {
        padding-left: 15px;
        padding-right: 15px;
        flex: 0 0 50%;
        max-width: 50%;

        &:first-child {
            flex: 0 0 47%;
            max-width: 47%;
        }

    }

    &-slider {

        .arrow {
            position: absolute;
            right: -40px;
            top: 50%;
            @include transform(translateY(-50%));

            &-next {
                top: calc(50% - 70px);
            }


        }

    }

    &-box {
        margin-top: -1.875rem;
        padding-left: 43px;
        padding-right: 43px;
    }

    &-slide {
        margin-left: -6px;
        margin-right: -6px;

        .item {
            padding-left: 6px;
            padding-right: 6px;
        }

        .arrow {
            position: absolute;
            z-index: 1;
            bottom: 0;

            &-prev {
                left: -40px;
            }

            &-next {
                right: -40px;
            }


        }

    }

    &-bottom {
        text-align: center;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        display: none;
        row-gap: 6px;
        padding-top: 30px;

        p {
            margin: 0 0 14px;
            color: #3B4851;
            font-weight: normal;
            font-size: 15px;
        }

    }

}