.breadcrumbs {
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    position: relative;
    z-index: 1;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;

        li {
            position: relative;
            padding-right: 1rem;

            &::after {
                @include pseudo($content: "-");
                top: 50%;
                right: 6px;
                @include transform(translateY(-50%));
                line-height: 1;
                color: #595959;
                font-weight: normal;
                font-size: 0.875rem;
            }

            a {
                text-decoration: none;
                display: inline-block;
                font-weight: normal;
                font-size: 0.875rem;
                color: #595959;
                @include transition(all, .4s, ease-in, 0s);
            }

            &:last-child {
                padding-right: 0;
                pointer-events: none;
                user-select: none;

                &::after {
                    content: none;
                }

                a {
                    color: #13447C;
                }

            }

        }

    }

}