.cart {

    &-products {
        position: relative;
        height: 100%;
        min-height: 114px;
        overflow: hidden;
        @include bRadius(10px);
        clip-path: polygon(0 0, calc(100% - 32px) 0, 100% 32px, 100% 100%, 0 100%);

        &:hover {

            a {
                background-color: #13447C;
            }

            .desc {
                color: #fff;
            }

        }

        a {
            text-decoration: none;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #E5E6EF;
            @include transition(all, .4s, ease-in, 0s);
            height: 100%;
            padding-top: 0.9375rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            padding-bottom: 0.9375rem;
        }

        .desc {
            color: #2D2928;
            @include transition(all, .4s, ease-in, 0s);
            font-weight: 600;
            font-size: 0.875rem;
            align-self: start;

            span {
                display: block;
            }

        }

        .img {
            align-self: end;
            max-width: 142px;
        }

    }

    &-more {
        position: relative;
        height: 100%;
        min-height: 114px;
        overflow: hidden;
        @include bRadius(10px);
        clip-path: polygon(0 0, calc(100% - 32px) 0, 100% 32px, 100% 100%, 0 100%);

        a {
            display: grid;
            place-items: start;
            text-decoration: none;
            height: 100%;
            padding-top: 0.9375rem;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
            padding-bottom: 0.9375rem;
            background-color: #C1111B;
            color: #fff;
            z-index: 1;
            position: relative;

            &::before {
                width: 45%;
                top: -19%;
                height: 150%;
                background: linear-gradient(158.16deg, rgba(255, 255, 255, 0.2) 4.13%, rgba(193, 17, 27, 0.2) 85.7%);
                @include pseudo();
                z-index: -1;
                right: 30%;
                @include transform(rotate(46deg));
            }

        }

        .link {
            align-self: flex-end;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 0.8125rem;
            margin-top: 7px;
        }

        .numb {
            font-weight: 600;
            font-size: 2.5rem;
            line-height: 1.1;
        }

        .group {
            font-size: 0.8125rem;
            font-weight: 600;
            align-self: end;
        }

    }

    &-section {
        position: relative;
        overflow: hidden;
        border: 1px solid #E1E1E1;
        @include bRadius(10px);
        height: 100%;
        min-height: 377px;
        @include transition(all, .4s, ease-in, 0s);

        &:hover {
            box-shadow: 0px 0px 40px 0px #E5E6EF;
        }

        &_fl {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }

        .info {
            color: #000;
            font-weight: 500;
            font-size: 0.9375rem;
            margin-bottom: 1.5rem;
            max-width: 250px;
        }

        &_link {
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            position: relative;
            color: #13447C;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 0.75rem;
            padding-top: 0.9375rem;
            padding-bottom: 0.9375rem;
            border-top: 1px solid #E1E1E1;

            i {
                font-style: normal;

                svg {
                    fill: #13447C;
                }

            }

        }

        &_bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;
            background-image: url(../img/cart-bg1.png);

            img {
                opacity: 0;
                visibility: hidden;
            }

        }

        &_bx {
            position: relative;

            &:first-child {
                padding-top: 1.5rem;
                padding-bottom: 2.1875rem;
                overflow: hidden;
            }

            &:last-child {
                padding-left: 1.25rem;
                padding-right: 1.25rem;
            }

        }

    }

    &-video {

        .video {
            position: relative;
            text-decoration: none;
            display: block;

            .img {
                position: relative;
                overflow: hidden;
                @include bRadius(10px);
                clip-path: polygon(0 0, calc(100% - 32px) 0, 100% 32px, 100% 100%, 0 100%);
            }

            .play {
                position: absolute;
                top: 50%;
                left: 50%;
                display: inline-block;
                @include transform(translateY(-50%) translateX(-50%));
            }

        }

        &_block {
            padding-top: 1rem;

            .name {
                margin-top: 0.8125rem;
                color: #000;
                font-weight: 600;
                font-size: 0.9375rem;
            }

            .date {
                color: #A1A5C6;
                font-weight: 500;
                font-size: 0.875rem;
                margin-top: 5px;
            }

        }

        &_box {
           display: flex;
           flex-wrap: wrap;
           align-items: center;
           justify-content: space-between;
           padding-bottom: 1rem;
           border-bottom: 1px solid rgba(161, 165, 198, 0.3);
           
            .desc {
                font-weight: 500;
                font-size: 0.875rem;
                max-width: 200px;
                color: #2D2928;
            }

            .social {
                display: flex;
                flex-wrap: wrap;
                column-gap: 7px;

                a {
                    text-decoration: none;
                    display: grid;
                    place-items: center;
                    line-height: 0;
                    position: relative;
                    overflow: hidden;
                    @include bRadius(5px);
                    background-color: rgba(19, 68, 124, 0.05);
                    width: 2.375rem;
                    height: 2.375rem;

                    svg {
                        fill: #13447C;
                    }

                }

            }

        }

    }

    &-seminar {

        a {
            text-decoration: none;
            display: flex;
            flex-direction: column;

            .name {
                color: #2D2928;
                font-weight: 600;
                font-size: 0.9375rem;
                margin-bottom: 7px;
            }

            .date {
                color: #A1A5C6;
                font-weight: 500;
                font-size: 0.8125rem;
            }

            .image {
                position: relative;
                overflow: hidden;
                @include bRadius(10px);
                clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%);
                margin-bottom: 0.8125rem;
                min-height: 256px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

            }

        }

    }

    &-press-centr {

        a {
            text-decoration: none;
            display: flex;
            flex-direction: column;

            .name {
                color: #2D2928;
                font-weight: 600;
                font-size: 0.9375rem;
                margin-bottom: 7px;
            }

            .date {
                color: #A1A5C6;
                font-weight: 500;
                font-size: 0.8125rem;
            }

            .image {
                position: relative;
                overflow: hidden;
                @include bRadius(10px);
                clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%);
                margin-bottom: 0.8125rem;
                min-height: 256px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    opacity: 0;
                    visibility: hidden;
                }

            }

            .info {
                font-weight: normal;
                font-size: 0.875rem;
                color: #2D2928;
                display: none;

                p {
                    margin: 0 0 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }

                }

            }

        }

    }

    &-partner {

        a {
            text-decoration: none;
            position: relative;
            display: block;
        }

        &:hover {

            .image {
                clip-path: inherit;
                background-color: #fff;
                @include bRadius(10px 0 10px 10px);
                box-shadow: 0px 0px 40px 0px #E5E6EF;

                img {
                    opacity: 0;
                    
                    &.n-active {
                        opacity: 1;
                    }

                }

            }

        }

        .image {
            position: relative;
            overflow: hidden;
            @include bRadius(10px);
            min-height: 239px;
            background-color: #E5E6EF;
            display: grid;
            place-items: center;
            @include transition(all, .4s, ease-in, 0s);
            clip-path: polygon(0 0, calc(100% - 32px) 0, 100% 32px, 100% 100%, 0 100%);
            margin-bottom: 1.25rem;

            img {
                @include transition(all, .4s, ease-in, 0s);

                &.n-active {
                    opacity: 0;
                    position: absolute;
                    inset: 0;
                }

            }

            .img-logo {
                position: relative;
            }

        }

        .name {
            text-align: center;
            color: #2D2928;
            font-weight: 500;
            font-size: 1.0625rem;
            max-width: 380px;
            margin: 0 auto;
        }

    }

    &-customer {

        &:hover {

            .image {
                opacity: 1;
            }

            .img-logo {

                img {
                    opacity: 0;
                }

                img.n-active {
                    opacity: 1;
                }

            }

        }

        a {
            text-decoration: none;
            display: block;
        }

        &_img {
            position: relative;
            overflow: hidden;
            @include bRadius(10px);
            background-color: #E5E6EF;
            clip-path: polygon(0 0, calc(100% - 32px) 0, 100% 32px, 100% 100%, 0 100%);
            margin-bottom: 1.25rem;

            .img-logo {
                position: absolute;
                top: 50%;
                left: 50%;
                @include transform(translateY(-50%) translateX(-50%));
                
                img {
                    @include transition(all, .4s, ease-in, 0s);

                    &.n-active {
                        opacity: 0;
                        position: absolute;
                        inset: 0;
                    }

                }



            }

            .image {
                position: relative;
                overflow: hidden;
                @include transition(all, .4s, ease-in, 0s);
                opacity: 0;

                &::before {
                    @include pseudo();
                    inset: 0;
                    background-color: rgba(19, 68, 124, 0.8);
                }

            }

        }

        .name {
            text-align: center;
            color: #2D2928;
            font-weight: 500;
            font-size: 1.0625rem;
        }

    }

}