.footer {
	
	.page-wrap {
		max-width: 1890px;
	}

	&-box {
		position: relative;
		overflow: hidden;
		background-color: #13447C;
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		clip-path: polygon(0 0, calc(100% - 50px) 0, 100% 50px, 100% 100%, 0 100%);
		margin-left: -15px;
		margin-right: -15px;

		&::after {
			@include pseudo($content: url(../img/footer-triangle.svg));
			bottom: -22%;
			right: 9%;
			opacity: 0.09;
			z-index: -1;
		}

		&::before {
			@include pseudo($content: url(../img/footer-line.svg));
			top: -70%;
			right: 21%;
			@include transform(translateX(-50%) rotate(35deg));
			opacity: 0.05;
			z-index: -1;
		}

	}

	&-top {
		padding-top: 2.0625rem;
		padding-bottom: 2.0625rem;
		border-bottom: 2px solid #FFFFFF0D;
		
		.ttl {
			color: #fff;
			font-weight: 600;
			font-size: 1.25rem;
		}

		.bx {
			flex-basis: 100%;

			&:last-child {
				flex-basis: 100%;
			}

		}

		.d-flex {
			row-gap: 0.9375rem;
		}

		.desc {
			color: #FFFFFF80;
			font-weight: normal;
			font-size: 0.9375rem;
			max-width: 354px;
			margin-top: 6px;
		}

	}

	&-mid {
		padding-top: 1.6875rem;
		padding-bottom: 8px;
		border-bottom: 2px solid #FFFFFF0D;

		.logo {
			margin-bottom: 7px;
			max-width: 363px;
		}
		.address {
			color: #fff;
			font-weight: 500;
			font-size: 0.875rem;
			line-height: 34px;
			margin-bottom: 5px;
		}

		.phone {
			margin-bottom: 0.875rem;

			a {
				color: #fff;
				font-weight: 600;
				font-size: 1.625rem;
			}

		}

		.page-btn {
			min-width: 100%;
		}

		.social {
			margin-top: 1.25rem;
			display: flex;
			flex-wrap: wrap;
			column-gap: 9px;

			a {
				text-decoration: none;
				display: grid;
				place-items: center;
				line-height: 1;
				background-color: #08305C;
				position: relative;
				overflow: hidden;
				@include bRadius(5px);
				width: 2.625rem;
				height: 2.625rem;

				svg {
					fill: #fff;
				}

			}

		}

		.bx {

			&:first-child {
				flex-basis: 100%;
				padding-bottom: 1.6875rem;
				border-bottom: 2px solid #FFFFFF0D;
			}

			&:last-child {
				flex-basis: 100%;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				padding-top: 1.6875rem;
			}

		}

		.box {
			flex-basis: 100%;
			column-count: 2;

			&:first-child {
				display: none;

				.name {
					margin-bottom: 0.75rem;
				}

			}

		}

		.name {
			display: block;
			text-decoration: none;
			text-transform: uppercase;
			font-weight: 600;
			font-size: 0.9375rem;
			color: #fff;
			margin-bottom: 1.125rem;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				margin-bottom: 0.8125rem;

				a {
					text-decoration: none;
					display: inline-block;
					color:#FFFFFF99;
					font-weight: 500;
					font-size: 0.875rem;
				}

			}

		}

	}

	&-bottom {
		padding-top: 1.25rem;
		padding-bottom: 1.5rem;

		.d-flex {
			row-gap: 8px;
		}

		.bx {
			flex-basis: 100%;
		}

		.coopyright {
			color: #fff;
			font-weight: 500;
			font-size: 0.8125rem;
			margin-bottom: 8px;
		}

		.politic {
			text-decoration: none;
			display: inline-block;
			vertical-align: middle;
			color:#FFFFFF99;
			font-weight: normal;
			font-size: 0.875rem;
		}

	}

}