.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 100%;
	background-color: #fff;
	backdrop-filter: blur(20px);
	box-shadow: 0px 0px 40px 0px #E5E6EF;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	
	.box {
		position: relative;
		display: none;

		.form-search {
			position: absolute;
			right: -1px;
			left: 0;
			top: 0;
			display: grid;
			height: 100%;

			.form-gr {
				align-self: center;
			}

		}

	}

	.bx {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
	}

	.logo {
		max-width: 256px;
	}

	nav {
		margin-right: 1rem;

		> ul {
			padding: 0;
			margin: 0;
			list-style-type: none;
			display: flex;
			flex-wrap: wrap;
			column-gap: 1rem;

			> li {

				&:hover {

					> div {
						opacity: 1;
						visibility: visible;
					}

				}

				> a {
					text-decoration: none;
					display: inline-block;
					color: #2D2928;
					font-weight: 600;
					font-size: 0.8125rem;
					line-height: 1;
					text-transform: uppercase;
					padding-top: 2.6875rem;
					padding-bottom: 2.6875rem;
				}

			}

		}

	}

	.link {
		text-decoration: none;
		display: inline-block;
		font-weight: 600;
		font-size: 0.8125rem;
		color: #13447C;
		text-transform: uppercase;
		margin-right: 1rem;

		i {
			display: inline-block;
			vertical-align: middle;
			line-height: 0;
			margin-right: 5px;

			svg {
				fill: #13447C;
			}

		}

	}

	.phone {
		margin-left: 1rem;
		display: none;

		a {
			color: #2D2928;
			font-size: 0.9375rem;
			font-weight: 600;

			&.call-back {
				display: block;
				color: #A1A5C6;
				font-weight: 500;
				font-size: 0.8125rem;
			}

		}

	}

	.lang {
		height: 36px;
		position: relative;
		display: none;

		> a {
			border-left: 1px solid #E5E6EF;
			z-index: 1;
		}

		&-link {

			&.active {
				color: #13447C;

				&::before {
					opacity: 1;
					visibility: visible;
				}

			}

			&::before {
				@include pseudo();
				inset: 0;
				background-color: #fff;
				width: 52px;
				height: 52px;
				margin: 0 auto;
				z-index: -1;
				@include bRadius(5px);
				top: -8px;
				@include transition(all, .4s, ease-in, 0s);
				opacity: 0;
				visibility: hidden;
			}

		}

		a {
			text-decoration: none;
			display: inline-block;
			color: #2D2928;
			font-weight: 600;
			font-size: 1rem;
			text-transform: uppercase;
			padding-left: 1.0625rem;
			padding-right: 1.0625rem;
			padding-top: 9px;
			padding-bottom: 7px;
			@include transition(all, .4s, ease-in, 0s);
			position: relative;
		}

		&-list {
			padding: 0;
			margin: 0;
			list-style-type: none;
			position: absolute;
			top: -12px;
			padding-top: 3.625rem;
			background-color: #E5E6EF;
			@include bRadius(5px);
			width: 100%;
			@include transition(all, .4s, ease-in, 0s);
			opacity: 0;
			visibility: hidden;

			&.active {
				opacity: 1;
				visibility: visible;
			}
			
			li {

				a {
					width: 52px;
					height: 52px;
					display: grid;
					place-items: center;
					width: 100%;
				}

			}

		}


	}

	&-phone {
		display: none;
		order: -1;
		margin-right: 0.75rem;

		a {
			text-decoration: none;
			display: inline-block;
			line-height: 0;
		}

	}

	&-search {
		height: 36px;

		&.active {

			a {

				svg {
					fill: #13447C;
				}

			}

			.form-search {
				opacity: 1;
				visibility: visible;
			}

		}

		.form-search {
			@include transition(all, .4s, ease-in, 0s);
			opacity: 0;
			visibility: hidden;
			
			.form-gr {
				@include bRadius(5px);
			}

		}

		a {
			text-decoration: none;
			display: grid;
			place-items: center;
			padding-left: 1rem;
			padding-right: 1rem;
			border-left: 1px solid #E5E6EF;
			padding-top: 4px;
			padding-bottom: 4px;
			height: 100%;
			position: relative;
			z-index: 1;

			svg {
				fill: #2D2928;
				@include transition(all, .4s, ease-in, 0s);
			}

		}

	}

	&-basket {
		height: 36px;
		display: none;

		a {
			text-decoration: none;
			display: grid;
			place-items: center;
			height: 100%;

			svg {
				fill: #13447C;
			}

		}

	}

	.mail {
		height: 36px;
		display: none;

		a {
			text-decoration: none;
			display: grid;
			place-items: center;
			padding-left: 1rem;
			padding-right: 0.875rem;
			padding-top: 4px;
			padding-bottom: 4px;
			border-left: 1px solid #E5E6EF;
			border-right: 1px solid #E5E6EF;
			height: 100%;

			svg {
				fill: #13447C;
			}

		}

	}

	&-subnav {
		position: fixed;
		left: 0;
		width: 100%;
		background-color: #fff;
		padding-top: 2.75rem;
		padding-bottom: 2.75rem;
		box-shadow: inset 0px 15px 15px 0px #E5E6EF;
		@include transition(all, .4s, ease-in, 0s);
		opacity: 0;
		visibility: hidden;

		.bx {
			align-items: start;

			&:last-child {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
			}

			&:first-child {
				flex: inherit;
				max-width: inherit;
			}

		}

		.image {
			// clip-path: polygon(0 0, calc(100% - 32px) 0, 100% 32px, 100% 100%, 0 100%);
			position: relative;
			overflow: hidden;
			@include bRadius(10px);
			clip-path: polygon(0 0, calc(100% - 32px) 0, 100% 32px, 100% 70%, 100% 100%, 52px 100%, 0% calc(100% - 52px), 0% 30%);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

		}

		.ttl {
			color: #2D2928;
			font-weight: 600;
			font-size: 1.75rem;
		}

		ul {
			padding: 0;
			margin: 0;
			list-style-type: none;

			li {
				margin-bottom: 0.625rem;

				a {
					color: #2D2928;
					@include transition(all, .4s, ease-in, 0s);
					font-weight: 500;
					font-size: 0.875rem;
					text-decoration: none;

					&:hover {
						color: #13447C;
						// font-weight: 600;
						text-shadow: 0 0 .65px #13447C, 0 0 .65px #13447C;
					}

					span {
						display: block;
					}

				}

			}

		}

	}

	&-burger {
		text-decoration: none;
		display: inline-block;
		vertical-align: middle;
		position: relative;
		height: 0.875rem;
		width: 1.625rem;
		margin-left: 0.75rem;

		span {
			width: 100%;
			height: 2px;
			background-color: #2D2928;
			position: absolute;
			top: 50%;
			left: 0;
			@include transform(translateY(-50%));
		}

		&::before, &::after {
			@include pseudo();
			height: 2px;
			background-color: #2D2928;
			left: 0;
		}

		&::before {
			top: 0;
			width: 100%;
		}

		&::after {
			bottom: 0;
			width: 75%;
		}

	}

}

.logo {
	text-decoration: none;
	display: inline-block;
}

.m-menu {
	position: fixed;
	inset: 0;
	z-index: 10;
	@include transition(all, .4s, ease-in, 0s);
	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 1;
		visibility: visible;

		.m-menu-wrap {
			@include transform(translateX(0));
		}

	}

	&-overflow {
		position: absolute;
		background-color: rgba(0, 0, 0, 0.4);
		inset: 0;
	}

	&-close {
		position: relative;
		text-decoration: none;
		display: inline-block;
		width: 0.9375rem;
		height: 0.9375rem;

		&::before, &::after {
			@include pseudo();
			top: 50%;
			left: 0;
			width: 100%;
			height: 2px;
			background-color: #2D2928;
		}

		&::before {
			@include transform(translateY(-50%) rotate(45deg));
		}

		&::after {
			@include transform(translateY(-50%) rotate(-45deg));
		}

	}

	&-wrap {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 100%;
		max-width: 100%;
		background-color: #fff;
		@include transition(all, .4s, ease-in, 0s);
		overflow-x: hidden;
		@include transform(translateX(100%));

		&_head {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			padding-top: 1.625rem;
			padding-bottom: 1.625rem;
			position: relative;

			&::after {
				@include pseudo();
				bottom: 0;
				right: 0;
				width: calc(100% - 15px);
				height: 1px;
				background-color: #DCDCDC;
			}

			.logo {
				max-width: 256px;
			}

			.bx {
				display: flex;
				flex-wrap: wrap;
				column-gap: 0.625rem;
				align-items: center;
			}

		}

	}

	&-main {
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		padding-top: 1.5rem;

		.form-search {
			margin-bottom: 1.25rem;
		}

		nav {
			margin-bottom: 1.25rem;

			> ul {
				padding: 0;
				margin: 0;
				list-style-type: none;

				> li {

					&:not(:last-child) {
						margin-bottom: 1.25rem;
					}

					&.active {

						> div {
							@include transform(translateX(0));
						}

					}

					> a {
						text-decoration: none;
						display: block;
						color: #2D2928;
						font-weight: 600;
						font-size: 0.9375rem;
						text-transform: uppercase;
					}


				}

			}

		}

		.link {
			text-decoration: none;
			display: inline-block;
			font-weight: 600;
			font-size: 0.9375rem;
			color: #13447C;
			text-transform: uppercase;
	
			i {
				display: inline-block;
				vertical-align: middle;
				line-height: 0;
				margin-right: 5px;
	
				svg {
					fill: #13447C;
				}
	
			}
	
		}

	}

	&-bottom {
		padding-left: 0.9375rem;
		padding-right: 0.9375rem;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 1.5rem;

		.phone {

			a {
				color: #2D2928;
				font-weight: 600;
				font-size: 1.3125rem;
				display: block;

				&.call-back {
					font-size: 0.8125rem;
					font-weight: 500;
					color: #A1A5C6;
				}

			}

		}

		.bx {
			display: flex;
			flex-wrap: wrap;
		}

		.lang {
			height: 36px;
			position: relative;
	
			> a {
				border-left: 1px solid #E5E6EF;
				z-index: 1;
			}
	
			&-link {
	
				&.active {
					color: #13447C;
	
					&::before {
						opacity: 1;
						visibility: visible;
					}
	
				}
	
				&::before {
					@include pseudo();
					inset: 0;
					background-color: #fff;
					width: 52px;
					height: 52px;
					margin: 0 auto;
					z-index: -1;
					@include bRadius(5px);
					top: -8px;
					@include transition(all, .4s, ease-in, 0s);
					opacity: 0;
					visibility: hidden;
				}
	
			}
	
			a {
				text-decoration: none;
				display: inline-block;
				color: #2D2928;
				font-weight: 600;
				font-size: 1rem;
				text-transform: uppercase;
				padding-left: 1.0625rem;
				padding-right: 1.0625rem;
				padding-top: 9px;
				padding-bottom: 7px;
				@include transition(all, .4s, ease-in, 0s);
				position: relative;
			}
	
			&-list {
				padding: 0;
				margin: 0;
				list-style-type: none;
				position: absolute;
				bottom: -12px;
				padding-bottom: 3.625rem;
				background-color: #E5E6EF;
				@include bRadius(5px);
				width: 100%;
				@include transition(all, .4s, ease-in, 0s);
				opacity: 0;
				visibility: hidden;
	
				&.active {
					opacity: 1;
					visibility: visible;
				}
				
				li {
	
					a {
						width: 52px;
						height: 52px;
						display: grid;
						place-items: center;
						width: 100%;
					}
	
				}
	
			}
	
	
		}

		.mail {
			height: 36px;
	
			a {
				text-decoration: none;
				display: grid;
				place-items: center;
				padding-left: 1rem;
				padding-right: 0.875rem;
				padding-top: 4px;
				padding-bottom: 4px;
				border-left: 1px solid #E5E6EF;
				border-right: 1px solid #E5E6EF;
				height: 100%;
	
				svg {
					fill: #13447C;
				}
	
			}
	
		}

	}

	&-subnav {
		position: fixed;
		top: 0;
		right: 0;
		width: 100%;
		max-width: 100%;
		height: 100%;
		background-color: #fff;
		z-index: 2;
		@include transition(all, .4s, ease-in, 0s);
		overflow-x: hidden;
		@include transform(translateX(100%));

		&_head {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			padding-top: 1.625rem;
			padding-bottom: 1.625rem;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			position: relative;

			&::after {
				@include pseudo();
				left: 0;
				right: 0;
				width: calc(100% - 30px);
				height: 1px;
				background-color: #DCDCDC;
				bottom: 0;
				margin: 0 auto;
			}

			.logo {
				max-width: 256px;
			}

		}

		&_main {
			padding-left: 0.9375rem;
			padding-right: 0.9375rem;
			padding-top: 1.5rem;
			padding-bottom: 1.875rem;

			.name {
				font-weight: 600;
				font-size: 1.125rem;
				color: #2D2928;
				margin-bottom: 1.25rem;
			}

			ul {
				padding: 0;
				margin: 0;
				list-style-type: none;

				li {

					&:not(:last-child) {
						margin-bottom: 1.25rem;
					}

					a {
						text-decoration: none;
						display: block;
						font-weight: 500;
						font-size: 0.9375rem;
						color: #2D2928;
					}

				}

			}

		}

	}

	&-back {
		text-decoration: none;
		display: inline-block;
	}

}

