@import "mixin";

.card {
    position: relative;
    margin-top: -64px;
    padding-bottom: 2.5rem;

    &-fix {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 6;
        color: #000;
        font-weight: 500;
        font-size: 1.0625rem;
        width: 100%;
        padding-top: 1.325rem;
        padding-bottom: 1.325rem;
        box-shadow: 0px 0px 40px 0px #E5E6EF;
        @include transition(all, .4s, ease-in, 0s);
        @include transform(translateY(-100%));

        .page-btn {
            height: 50px;
            font-size: 0.8125rem;
            padding-top: 0.9375rem;
            padding-bottom: 0.9375rem;
        }

        .image {
            max-width: 122px;
            margin-right: 7px;
        }

        .bx {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 0.625rem;
        }

        .pdf {
            text-decoration: none;
            display: grid;
            place-items: center;
            width: 3.125rem;
            height: 3.125rem;
            position: relative;
            overflow: hidden;
            @include bRadius(50%);
            @include transition(all, .4s, ease-in, 0s);
            background-color: #CF1F25;

            svg {
                fill: #fff;
            }

        }

    }

    &-banner {
        position: relative;

        .bg {
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: cover;
            position: absolute;
            inset: 0;

            img {
                opacity: 0;
                visibility: hidden;
            }

        }

        &_slider {
            max-width: 757px;

            .arrow {
                position: absolute;
                bottom: -4.375rem;
                left: 50%;
                @include transform(translateX(-50%));

                &-prev {
                    left: 42%;
                }

                &.slick-disabled {
                    pointer-events: none;
                    user-select: none;
                    box-shadow: none;

                    svg {
                        fill: #BCBECD;
                    }

                }

            }

        }

        &_rs {
            position: absolute;
            top: 50%;
            right: 0;
            display: inline-block;
            @include transform(translateY(-50%));
            max-width: 70px;
        }

        &_slide {
            margin-top: -5px;
            margin-bottom: -5px;

            .item {
                padding-top: 5px;
                padding-bottom: 5px;

                &.slick-current {

                    .image {
                        border-color: #13447C;
                    }

                }

            }

            .image {
                position: relative;
                overflow: hidden;
                @include bRadius(6px);
                width: 65px;
                height: 48px;
                display: grid;
                place-items: center;
                background-color: #fff;
                padding: 4px 6px;
                border: 1px solid transparent;
                @include transition(all, .4s, ease-in, 0s);

                &-total {

                    .numb {
                        position: absolute;
                        display: inline-block;
                        top: 50%;
                        left: 50%;
                        @include transform(translateY(-50%) translateX(-50%));
                        color: #fff;
                        font-weight: 600;
                        font-size: 1.5625rem;
                    }

                    &::before {
                        @include pseudo();
                        inset: 0;
                        background: #13447CA6;
                        backdrop-filter: blur(4px);
                    }

                }

            }

        }

        &_box {
            padding-top: 3.625rem;
            padding-bottom: 9.3125rem;

            .d-flex {
                flex-direction: row-reverse;
            }

            .bx {
                flex-basis: 45%;
                position: relative;

                &:first-child {
                    flex-basis: 50%;
                } 

            }

            h1 {
                font-size: 2.8125rem;
            }

            .desc {
                font-weight: 500;
                font-size: 1rem;
                color: #2D2928;
                margin-top: 1.625rem;
            }

            ul {
                padding: 0;
                margin: 1rem 0 0;
                list-style-type: none;

                li {
                    font-weight: 500;
                    font-size: 0.9375rem;
                    color: #2D2928;
                    padding-left: 1.25rem;
                    position: relative;

                    &:not(:first-child) {
                        margin-top: 0.625rem;
                    }

                    &::before {
                        @include pseudo($content: url(../img/icon/list-drop-icon.svg));
                        left: 0;
                        top: 0;
                    }

                }

            }

            .btn {
                padding-top: 2.5rem;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                column-gap: 0.9375rem;
            }

            .pdf {
                text-decoration: none;
                display: grid;
                place-items: center;
                width: 3.75rem;
                height: 3.75rem;
                position: relative;
                overflow: hidden;
                @include bRadius(50%);
                @include transition(all, .4s, ease-in, 0s);
                background-color: #CF1F25;

                svg {
                    fill: #fff;
                }

            }

        }

    }

    &-block {
        padding-top: 5.9375rem;
    }

}