@import "mixin";

.centr {
    padding-bottom: 3.125rem;

    &-top {
        padding-top: 2.5rem;

        .link {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            display: inline-block;
            color: #13447C;
            font-weight: bold;
            font-size: 0.875rem;
            text-transform: uppercase;
        }

    }

    &-block {
        padding-top: 2.625rem;
    }

}