@import "mixin";

.company {
    padding-top: 3.125rem;
    padding-bottom: 1.875rem;

    .d-flex {
        row-gap: 1.5rem;
    }

    .bx {
        flex-basis: 100%;
        position: relative;
    }

    .map-img {
        position: absolute;
        bottom: 30%;
        left: 5%;
        z-index: -1;
    }

    .txt {
        margin-top: 1.25rem;
        font-weight: normal;
        font-size: 0.9375rem;
        color: #2D2928;

        b {
            font-weight: 500;
            font-size: 1rem;
        }

        p {
            margin: 0 0 1.25rem;

            &:last-child {
                margin-bottom: 0;
            }

        }

    }

    .page-btn {
        min-width: 100%;
        margin-top: 1.875rem;
        max-width: 100%;
    }

    .video {

        a {
            position: relative;
            text-decoration: none;
            overflow: hidden;
            clip-path: polygon(0 0, calc(100% - 6%) 0, 100% 6%, 100% 100%, 0 100%);
            @include bRadius(10px);
            display: block;
        }

        .play {
            position: absolute;
            top: 50%;
            left: 50%;
            @include transform(translateY(-50%) translateX(-50%));
            display: inline-block;
        }

    }

}

@include sz(min576) {

    .company {

        .page-btn {
            min-width: 224px;
            max-width: 224px;
        }

        .map-img {
            bottom: -20%;
        }

    }

}

@include sz(min680) {

    .company {

        .txt {
            font-size: 1rem;

            b {
                font-size: 1.125rem;
            }

        }

    }

}

@include sz(min768) {

    .company {
        padding-bottom: 3.75rem;
    }

}

@include sz(min860) {

    .company {

        .bx {
            flex-basis: 46%;

            &:first-child {
                flex-basis: 49%;
                order: 1;
            }
        }

    }

}

@include sz(min1280) {

    .company {

        .bx {
            flex-basis: 40%;
        }

    }

}