@import "mixin";

.error {
    padding-top: 8rem;
    padding-bottom: 12.375rem;
    position: relative;
    overflow: hidden;

    &::before {
        @include pseudo();
        top: 30%;
        left: 0;
        width: 150%;
        height: 24vw;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(229, 230, 239, 0.4) 100%);
        @include transform(rotate(-23deg) translateY(-50%));
    }

    .box {
        text-align: center;
    }

    .image {
        margin-bottom: 1.25rem;
    }

    .ttl {
        color: #2D2928;
        font-weight: 600;
        font-size: 1.325rem;
        margin-bottom: 1.25rem;
    }

    .page-btn {
        min-width: 254px;
    }

}
