@import "mixin";

.h-video {
    padding-top: 2.5rem;
    padding-bottom: 5rem;

    &-top {

        .link {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            display: inline-block;
            color: #13447C;
            font-weight: bold;
            font-size: 0.875rem;
            text-transform: uppercase;
        }

    }

    &-block {
        padding-top: 2.5rem;
    }

    &-slider {
        margin-left: -0.75rem;
        margin-right: -0.75rem;

        .item {
            padding-left: 0.75rem;
            padding-right: 0.75rem;
        }

        .arrow {
            position: absolute;
            top: 45%;
            z-index: 1;
            @include transform(translateY(-50%));

            &-next {
                right: -0.9375rem;
            }

            &-prev {
                left: -0.9375rem;
            }

            &.slick-disabled {
                opacity: 0;
                visibility: hidden;
            }

        }

    }

}