@import "mixin";

.history {
    padding-bottom: 6.25rem;

    &-block {
        margin-top: 5rem;
        position: relative;

        &::before {
            @include pseudo();
            left: 0;
            width: 46%;
            height: 70%;
            bottom: 0;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
            z-index: 1;
        }

        &::after {
            @include pseudo();
            height: 100%;
            top: 0;
            width: 1px;
            background-color: #E3E4EE;
            left: 46%;
            @include transform(translateX(-50%));
        }

        &_box {
            
            &:not(:first-child) {
                padding-top: 6.25rem;
            }

            h4 {
                color: #000;
            }

            .years {
                color: #13447C;
                font-weight: 600;
                font-size: 10rem;
                text-align: center;
                line-height: 1;
            }

            .image {
                position: relative;
                overflow: hidden;
                @include bRadius(10px);
                margin-bottom: 1.5rem;
                clip-path: polygon(94% 0, 100% 10%, 100% 100%, 18% 100%, 0 78%, 0 0);
            }

            .txt {
                margin-top: 1.5rem;
                color: #000;
                font-weight: normal;
                font-size: 1rem;

                p {
                    margin: 0 0 1.5rem;

                    &:last-child {
                        margin-bottom: 0;
                    }

                }

            }

            .d-flex {
                margin-left: -15px;
                margin-right: -15px;
            }

            .bx {
                padding-left: 15px;
                padding-right: 15px;
                flex: 0 0 51%;
                max-width: 51%;

                &:first-child {
                    flex: 0 0 46%;
                    max-width: 46%;
                }

            }

        }

    }

}