@import "mixin";

@include sz(min480) {

	// ==content

}

@include sz(min576) {

	// ==content

}

@include sz(min680) {

	

}

@include sz(min768) {

	.header {

		.logo {
			max-width: fit-content;
		}

	}

}

@include sz(min860) {

	// ==content

}

@include sz(min992) {

	// ==content

}

@include sz(min1100) {

	// ==content

}

@include sz(min1200) {

	// ==content

}

@include sz(min1280) {

	.header {
		padding-top: 0;
		padding-bottom: 0;

		.box {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}

		.bx {
			flex: 0 0 80%;
			max-width: 80%;
			justify-content: flex-end;
	
			&:first-child {
				flex: 0 0 18%;
				max-width: 18%;
			}
	
		}

		&-burger {
			display: none;
		}

	}

}

@include sz(min1366) {

	.header {

		.phone {
			display: inline-block;
		}

		&-phone {
			display: none;
		}

		&-subnav {

			ul.column-2 {
				column-count: 2;
			}

			ul {

				li {
					margin-bottom: 1.325rem;
				}

			}

		}

	}

}

@include sz(min1440) {

	.header {

		.link {
			margin-right: 1.625rem;
		}

		nav {
			margin-right: 1.125rem;

			> ul {
				column-gap: 1.125rem;
			}

		}

		.phone {
			margin-left: 1.125rem;

			a {
				font-size: 1.0625rem;
			}

		}

		.bx {
			flex: 0 0 78%;
			max-width: 78%;
		}

		&-subnav {

			.bx {

				&:first-child {
					flex: 0 0 18%;
					max-width: 18%;
				}

			}

			ul {

				li {

					a {
						font-size: 1rem;
					}

				}

			}

		}

	}

}

@include sz(min1550) {

	.header {

		nav {
			margin-right: 1.625rem;

			> ul {
				column-gap: 1.625rem;
			}

		}

		&-subnav {

			ul.column-2 {
				column-gap: 5rem;
			}

		}

	}

}

@include sz(min1640) {

	.header {

		.bx {
			flex: 0 0 73%;
			max-width: 73%;

			&:first-child {
				flex: 0 0 24%;
				max-width: 24%;
			}

		}

		&-subnav {

			.bx {
	
				&:first-child {
					flex: 0 0 24%;
					max-width: 24%;
				}
	
			}

		}

		.phone {

			a {
				font-size: 1.25rem;
			}

		}

	}

}

@include sz(min1860) {

	.header {

		.link {
			margin-right: 5rem;
		}

	}

}