@import "mixin";

.products {
    padding-top: 4.6875rem;
    padding-bottom: 3.75rem;

    &-top {

        .d-flex {
            align-items: flex-end;
        }

        .link {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            text-transform: uppercase;
            font-weight: bold;
            color: #13447C;
            font-size: 0.8125rem;
            display: inline-block;
        }

        .bx {

            &:last-child {
                display: none;
            }

        }

    }

    &-block {
        padding-top: 1.5rem;

        .d-flex {
            margin-left: -0.625rem;
            margin-right: -0.625rem;
            row-gap: 1.25rem;
        }

        .bx {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
            flex-basis: 100%;

            &:first-child {
                flex-basis: 100%;
            }

        }

        .box {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
        }

        .col {

            &-2 {
                flex-basis: 100%;

                .cart-products {

                    a {
                        flex-direction: row;
                    }

                    .img {
                        flex-basis: 40%;
                    }

                }

            }

            &-4 {
                flex-basis: 100%;
            }

        }

    }

    &-form {
        position: relative;
        overflow: hidden;
        @include bRadius(10px);
        background-color: #13447C;
        clip-path: polygon(0 0, calc(100% - 55px) 0, 100% 55px, 100% 100%, 0 100%);
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        padding-top: 3.375rem;
        padding-bottom: 4.25rem;
        height: 100%;
        display: none;

        &::before {
            width: 50%;
            height: 140%;
            background: linear-gradient(158.16deg, rgba(255, 255, 255, 0.2) 4.13%, rgba(19, 68, 124, 0.2) 85.7%);
            @include pseudo();
            top: 0;
            @include transform(rotate(50deg));
            right: -10%;
            z-index: -1;
        }

        .image {
            position: absolute;
            right: 0;
            bottom: 0;
        }

        .ttl {
            color: #fff;
            font-weight: 600;
            font-size: 1.875rem;
        }

        .desc {
            margin-top: 1.0625rem;
            color: rgba(255, 255, 255, 0.8);
            font-weight: normal;
            font-size: 0.9375rem;
            max-width: 354px;
            line-height: 23px;

            b {
                font-weight: 500;
            }

        }

        .form-products {
            margin-top: 1rem;
        }

    }

    &-btn {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .page-btn {
            min-width: 100%;
        }

    }

}

@include sz(min393) {

    .products {

        &-top {

            .bx {

                &:last-child {
                    display: block;
                }

            }

        }

    }

}

@include sz(min576) {

    .products {

        &-btn {

            .page-btn {
                min-width: 270px;
            }

        }

        &-top {

            .link {
                font-size: 0.875rem;
            }

        }

    }

}

@include sz(min680) {

    .products {

        &-block {

            .col {

                &-2 {
                    flex-basis: 50%;
                }

                &-4 {
                    flex-basis: 50%;
                }

            }

        }

    }

}

@include sz(min768) {

    .products {

        &-block {
            padding-top: 2.5rem;
        }

    }

}

@include sz(min860) {

    .products {

        &-block {

            .col-4 {
                flex-basis: 25%;
            }

        }

    }

}

@include sz(min1366) {

    .products {

        &-block {

            .bx {
                flex-basis: 36%;

                &:first-child {
                    flex-basis: 64%;
                }

            }

        }

        &-form {
            display: block;
        }

        &-btn {
            display: none;
        }

    }

}

@include sz(min1440) {

    .products {

        &-block {

            .bx {
                flex-basis: 33%;
    
                &:first-child {
                    flex-basis: 67%;
                }
    
            }

        }

    }

}

@include sz(min1640) {

    .products {

        &-form {
            padding-left: 4.5rem;
            padding-right: 4.5rem;
        }

    }

}