@import "mixin";

.product {
    padding-bottom: 3.125rem;

    &-block {
        padding-top: 2.5rem;

        .d-grid {
            grid-gap: 1.25rem;
            grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
        }

        .bx {

            &-large {
                grid-column: span 2;
                grid-row: span 2;

                .cart-products {

                    .desc {
                        font-size: 1.25rem;
                    }

                }

            }

            &-long {
                grid-column: span 2;
            }

        }

    }

}