@import "mixin";

.seminar {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;

    &-box {
        position: relative;
        overflow: hidden;
        background-color: #13447C;
        padding-top: 4.375rem;
        padding-bottom: 6.25rem;

        &::before {
            @include pseudo();
            background: linear-gradient(258.16deg, rgba(255, 255, 255, 0.05) 35.7%, rgba(19, 68, 124, 0.05) 94.44%);
            top: -12%;
            bottom: 0;
            width: 15%;
            left: 0;
            @include transform(rotate(-35deg));
            height: 140%;
        }

        &_top {

            h2 {
                color: #fff;
            }

            .link {
                text-decoration: underline;
                text-decoration-skip-ink: none;
                display: inline-block;
                color: #fff;
                font-weight: bold;
                font-size: 0.875rem;
                text-transform: uppercase;
            }

        }

        &_block {
            padding-top: 2.5rem;
        }

    }

    &-slider {
        margin-left: -0.625rem;
        margin-right: -0.625rem;

        .item {
            padding-left: 0.625rem;
            padding-right: 0.625rem;
        }

        .arrow {
            position: absolute;
            top: 45%;
            z-index: 1;
            @include transform(translateY(-50%));

            &-next {
                right: -0.9375rem;
            }

            &-prev {
                left: -0.9375rem;
            }

            &.slick-disabled {
                opacity: 0;
                visibility: hidden;
            }

        }


        .cart-seminar {

            a {

                .name {
                    color: #fff;
                }

                .date {
                    color: #fff
                }

            }

        }

    }

}
