.card {
  position: relative;
  margin-top: -64px;
  padding-bottom: 2.5rem;
}
.card-fix {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  z-index: 6;
  color: #000;
  font-weight: 500;
  font-size: 1.0625rem;
  width: 100%;
  padding-top: 1.325rem;
  padding-bottom: 1.325rem;
  box-shadow: 0px 0px 40px 0px #E5E6EF;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
}
.card-fix .page-btn {
  height: 50px;
  font-size: 0.8125rem;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
}
.card-fix .image {
  max-width: 122px;
  margin-right: 7px;
}
.card-fix .bx {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
}
.card-fix .pdf {
  text-decoration: none;
  display: grid;
  place-items: center;
  width: 3.125rem;
  height: 3.125rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  background-color: #CF1F25;
}
.card-fix .pdf svg {
  fill: #fff;
}
.card-banner {
  position: relative;
}
.card-banner .bg {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  position: absolute;
  inset: 0;
}
.card-banner .bg img {
  opacity: 0;
  visibility: hidden;
}
.card-banner_slider {
  max-width: 757px;
}
.card-banner_slider .arrow {
  position: absolute;
  bottom: -4.375rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.card-banner_slider .arrow-prev {
  left: 42%;
}
.card-banner_slider .arrow.slick-disabled {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  box-shadow: none;
}
.card-banner_slider .arrow.slick-disabled svg {
  fill: #BCBECD;
}
.card-banner_rs {
  position: absolute;
  top: 50%;
  right: 0;
  display: inline-block;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  max-width: 70px;
}
.card-banner_slide {
  margin-top: -5px;
  margin-bottom: -5px;
}
.card-banner_slide .item {
  padding-top: 5px;
  padding-bottom: 5px;
}
.card-banner_slide .item.slick-current .image {
  border-color: #13447C;
}
.card-banner_slide .image {
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  width: 65px;
  height: 48px;
  display: grid;
  place-items: center;
  background-color: #fff;
  padding: 4px 6px;
  border: 1px solid transparent;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
}
.card-banner_slide .image-total .numb {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  color: #fff;
  font-weight: 600;
  font-size: 1.5625rem;
}
.card-banner_slide .image-total::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: rgba(19, 68, 124, 0.6509803922);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
.card-banner_box {
  padding-top: 3.625rem;
  padding-bottom: 9.3125rem;
}
.card-banner_box .d-flex {
  flex-direction: row-reverse;
}
.card-banner_box .bx {
  flex-basis: 45%;
  position: relative;
}
.card-banner_box .bx:first-child {
  flex-basis: 50%;
}
.card-banner_box h1 {
  font-size: 2.8125rem;
}
.card-banner_box .desc {
  font-weight: 500;
  font-size: 1rem;
  color: #2D2928;
  margin-top: 1.625rem;
}
.card-banner_box ul {
  padding: 0;
  margin: 1rem 0 0;
  list-style-type: none;
}
.card-banner_box ul li {
  font-weight: 500;
  font-size: 0.9375rem;
  color: #2D2928;
  padding-left: 1.25rem;
  position: relative;
}
.card-banner_box ul li:not(:first-child) {
  margin-top: 0.625rem;
}
.card-banner_box ul li::before {
  content: url(../img/icon/list-drop-icon.svg);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
}
.card-banner_box .btn {
  padding-top: 2.5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
}
.card-banner_box .pdf {
  text-decoration: none;
  display: grid;
  place-items: center;
  width: 3.75rem;
  height: 3.75rem;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  background-color: #CF1F25;
}
.card-banner_box .pdf svg {
  fill: #fff;
}
.card-block {
  padding-top: 5.9375rem;
}/*# sourceMappingURL=card.css.map */