.press-centr {
  padding-top: 1.875rem;
  padding-bottom: 3.75rem;
}
.press-centr_block {
  padding-top: 1.875rem;
}
.press-centr_block .link {
  text-decoration: underline;
  display: inline-block;
  font-weight: bold;
  font-size: 0.875rem;
  color: #13447C;
  text-transform: uppercase;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}
.press-centr_block .bx:first-child {
  flex-basis: 100%;
  overflow-y: hidden;
  padding-bottom: 5px;
}
.press-centr_block .bx:last-child {
  top: 10px;
  right: 15px;
  position: absolute;
  display: none;
}
.press-centr_block .tab-wrap {
  padding-top: 2.5rem;
}
.press-centr_block .tab-item .d-flex {
  margin-left: -15px;
  margin-right: -15px;
}
.press-centr_block .tab-item_bx {
  padding-left: 15px;
  padding-right: 15px;
  flex: 0 0 100%;
  max-width: 100%;
}
.press-centr_block .tab-item_bx:first-child {
  flex: 0 0 45%;
  max-width: 45%;
  display: none;
}
.press-centr_slider {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.press-centr_slider .item .cart-press-centr a {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
}
.press-centr_slider .item .cart-press-centr a .name {
  font-size: 0.9375rem;
  margin-bottom: 15px;
}
.press-centr_slider .item .cart-press-centr a .box {
  flex-basis: 45%;
}
.press-centr_slider .item .cart-press-centr a .image {
  flex-basis: 48%;
  margin-bottom: 0;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 75%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 25% 100%, 0 75%);
}
.press-centr_slider .item .cart-press-centr a .info {
  margin-bottom: 15px;
  display: block;
  font-size: 0.8125rem;
}
.press-centr_slider .arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.press-centr_slider .arrow-next {
  right: 0;
}
.press-centr_slider .slick-prev {
  display: none;
}
.press-centr_slide {
  margin-left: -10px;
  margin-right: -10px;
}
.press-centr_slide .item {
  padding-left: 10px;
  padding-right: 10px;
}
.press-centr_slide .arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.press-centr_slide .arrow-next {
  right: 0;
}
.press-centr_slide .slick-prev {
  display: none !important;
}
.press-centr_slide .slick-dots li {
  padding: 0;
  width: 10px;
  height: 10px;
  margin: 0 3px;
}
.press-centr_slide .slick-dots li.slick-active button {
  background-color: #13447C;
}
.press-centr_slide .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  background-color: #E5E6EF;
  padding: 0;
}
.press-centr_slide .slick-dots li button::before {
  content: none;
}
.press-centr_cart {
  max-width: 270px;
  width: 100%;
}
.press-centr_cart a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}
.press-centr_cart a .name {
  color: #2D2928;
  font-weight: 600;
  font-size: 0.9375rem;
  margin-bottom: 7px;
}
.press-centr_cart a .date {
  color: #A1A5C6;
  font-weight: 500;
  font-size: 0.8125rem;
}
.press-centr_cart a .image {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%);
          clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%);
  margin-bottom: 0.8125rem;
  min-height: 256px;
}
.press-centr_cart a .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.press-centr_cart a .info {
  font-weight: normal;
  font-size: 0.875rem;
  color: #2D2928;
  display: none;
}
.press-centr_cart a .info p {
  margin: 0 0 15px;
}
.press-centr_cart a .info p:last-child {
  margin-bottom: 0;
}

@media (min-width: 393px) {
  .press-centr_block .bx:last-child {
    display: block;
  }
}
@media (min-width: 680px) {
  .press-centr_block .bx:first-child {
    flex-basis: inherit;
    padding-bottom: 0;
  }
  .press-centr_block .bx:last-child {
    right: 0;
    top: 0;
    position: relative;
  }
}
@media (min-width: 768px) {
  .press-centr {
    padding-top: 3.125rem;
    padding-bottom: 6.6875rem;
  }
}
@media (min-width: 1280px) {
  .press-centr_block .tab-item_bx {
    flex: 0 0 55%;
    max-width: 55%;
  }
  .press-centr_block .tab-item_bx:first-child {
    display: block;
  }
}
@media (min-width: 1366px) {
  .press-centr_block .tab-item_bx {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .press-centr_block .tab-item_bx:first-child {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .press-centr_slider .item .cart-press-centr a .name {
    font-size: 1.3125rem;
  }
  .press-centr_slider .item .cart-press-centr a .info {
    font-size: 0.875rem;
  }
}
@media (min-width: 1640px) {
  .press-centr_slider .item .cart-press-centr a {
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
  }
}/*# sourceMappingURL=press-centr.css.map */