.stand .page-wrap {
  max-width: 1890px;
  height: 100%;
}
.stand-slider {
  height: 100%;
}
.stand-slider .slick-list {
  height: 100%;
}
.stand-slider .slick-track {
  height: 100%;
}
.stand-slider .slick-dots li {
  padding: 0;
  width: 10px;
  height: 10px;
  margin: 0 3px;
}
.stand-slider .slick-dots li.slick-active button {
  background-color: #13447C;
}
.stand-slider .slick-dots li button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: all 0.4s ease-in 0s;
  -webkit-transition: all 0.4s ease-in 0s;
  -moz-transition: all 0.4s ease-in 0s;
  -ms-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease-in 0s;
  background-color: #E5E6EF;
  padding: 0;
}
.stand-slider .slick-dots li button::before {
  content: none;
}
.stand-slider .arrow {
  position: absolute;
  z-index: 1;
  bottom: 1.0625rem;
  left: 0;
}
.stand-slider .arrow.slick-disabled {
  box-shadow: none;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  background-color: #E5E6EF;
}
.stand-slider .arrow.slick-disabled svg {
  fill: #BCBECD;
}
.stand-slider .arrow-next {
  left: 4.375rem;
}
.stand-slider .item {
  position: relative;
}
.stand-slider .item .box {
  padding-top: 1.25rem;
}
.stand-slider .item .box-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
  row-gap: 0.625rem;
}
.stand-slider .item .box-btn .page-btn {
  min-width: 100%;
}
.stand-slider .item h1 {
  max-width: 640px;
  line-height: 1.2;
  font-size: clamp(1.4375rem, 4vw, 3.75rem);
}
.stand-slider .item .info {
  color: #595959;
  font-weight: normal;
  font-size: 0.9375rem;
  margin-top: 1.25rem;
}
.stand-slider_bg {
  position: relative;
  height: 100%;
}
.stand-slider_bg .img {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: 0 auto;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  max-width: 60%;
}
.stand-slider_bg .bg {
  position: relative;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-clip-path: polygon(0 0, 90% 0, 100% 15%, 100% 70%, 100% 100%, 25% 100%, 0% 78%, 0% 30%);
          clip-path: polygon(0 0, 90% 0, 100% 15%, 100% 70%, 100% 100%, 25% 100%, 0% 78%, 0% 30%);
  min-height: 170px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.stand-slider_bg .bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  visibility: hidden;
}

@media (min-width: 393px) {
  .stand-slider .item .box-btn .page-btn {
    min-width: 49%;
  }
}
@media (min-width: 768px) {
  .stand-slider .item .info {
    font-size: 1rem;
    font-weight: 500;
  }
  .stand-slider_bg .img {
    right: 0;
    left: inherit;
  }
}
@media (min-width: 860px) {
  .stand-slider .item .box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }
  .stand-slider .item .box-btn {
    position: absolute;
    right: 2.75rem;
    bottom: 3.125rem;
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
    justify-content: start;
    margin-top: 0;
  }
  .stand-slider .item .box-btn .page-btn {
    min-width: 212px;
  }
  .stand-slider .item .info {
    max-width: 480px;
  }
}
@media (min-width: 1200px) {
  .stand {
    height: 87vh;
  }
}
@media (min-width: 1440px) {
  .stand-slider .item .box {
    padding-top: 6.9375rem;
    padding-left: 4.375rem;
    padding-right: 4.375rem;
    padding-bottom: 3.5625rem;
  }
  .stand-slider .item .box-btn {
    right: 4.375rem;
    bottom: 3.5625rem;
  }
}
@media (min-width: 1640px) {
  .stand-slider .arrow {
    left: 3.6%;
  }
  .stand-slider .arrow-next {
    left: 7%;
  }
}/*# sourceMappingURL=stand.css.map */